<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="false" cardTitle="BUS IMAGE GALLERY" cardClass="card-datatable" [options]="true"
      cardClass=" table-border-style user-profile-list " [isCardFooter]="true">
      <div class="row">
        <div class="col-2">
          <div class="from-group ">
            <button class="btn btn-sm btn-success mb-2 " (click)="ResetAttributes();OpenModal(content)">
              Add Gallery Image
            </button>
          </div>
        </div>
        <div class="col-10">
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col-3">
                <ng-select [items]="busoperators" bindLabel="operator_name" bindValue="id" placeholder="Select Operator"
                  formControlName="bus_operator_id" [clearable]="false" (change)="findOperator($event)">
                </ng-select>
              </div>
              <div class="col-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <ng-select [items]="buses" bindLabel="name" bindValue="id" placeholder="Select Bus"
                      formControlName="bus_id" [clearable]="false">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-success  sml_input" (click)="search()" title="search">
                  <i class="fas fa-search"> </i> Search
                </button>
                <button type="button" class="btn btn-danger sml_input" (click)="refresh()" title="refresh">
                  <i class="fas fa-sync-alt"> </i> Refresh
                </button>
              </div>
              <div class="col-2">
                <div class="dropdown float-right">
                  <select class="form-control sml_input" formControlName="rows_number" (change)=search()>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                    <option value='all'>All</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Operator</th>
              <th>Bus Name</th>
              <th>Bus Number</th>
              <th>Add Date</th>
              <th>Preview</th>
              <th width="50" class="hide_print">&nbsp; </th>
            </tr>
          </thead>
          <tbody *ngIf="busGallerries?.length != 0">
            <tr *ngFor="let gallery of busGallerries; let i=index; ">
              <td>{{ i+1 }}</td>
              <td class="text-capitalize">{{ gallery.bus_operator.operator_name }}</td>
              <td>{{ gallery.bus.name }}</td>
              <td>{{ gallery.bus.bus_number }}</td>
              <td>{{ gallery.created_at | date: 'dd/MM/yyyy'}}</td>
              <td>
                <img *ngIf="gallery.bus_image!='' && gallery.bus_image!=null" class="sliderImage"
                src="{{path}}bus_photos/{{gallery.bus_image}}" height="100">
                <img *ngIf="gallery.bus_image=='' || gallery.bus_image==null" class="sliderImage"
                  src="../../../assets/images/noImage.png" height="100">
              </td>
              <td class="hide_print">
                <div class="overlay-edit">
                  <button type="button" (click)="editGallery($event, i); OpenModal(content);"
                    class="btn btn-icon btn-success"><i class="feather icon-edit"></i></button>
                  <button type="button" (click)="openConfirmDialog(confirmDialog, i)" class="btn btn-icon btn-danger"><i
                      class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="busGallerries?.length == 0">
            <tr>
              <td colspan="7" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
        <div *ngIf="pagination?.length != 0" class="hide_print">
          <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
            <nav class="my-1 pt-1 ">
              <ul class="pagination pagination-circle pg-blue mb-0">
                <li (click)="search(pagination.first_page_url,statusLabel)"
                  class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                  <a class="page-link">First</a>
                </li>
                <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                  <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                    (click)="(b.url) ? search(b.url) : ''" [innerHTML]="page(b.label)"></a>
                </li>
                <li class="page-item {{ pagination.last_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block"
                  (click)="search(pagination.last_page_url,statusLabel)">
                  <a class="page-link">Last</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="app-card-footer">
        <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
          (click)="ResetAttributes();OpenModal(content)">Add </button>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5">{{ModalHeading}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    <form [formGroup]="busForm" class="editForm" novalidate>
                      <div class="row">
                        <div class="row form-group col-sm-12">
                          <div class="col-md-3">
                            Select Operator
                          </div>
                          <div class="col-md-9">
                            <ng-select [items]="busoperators" bindLabel="operator_name" bindValue="id"
                              placeholder="Select Operator" formControlName="bus_operator_id" [clearable]="false"
                              (change)="findOperator($event)">
                            </ng-select>
                            <span class="text-danger"
                              *ngIf="busForm.controls['bus_id'].touched && busForm.controls['bus_id'].hasError('required')">
                              Operator Name is required! </span>
                          </div>
                        </div>
                        <div class="row form-group col-sm-12">
                          <div class="col-md-3">
                            Select Bus
                          </div>
                          <div class="col-md-9">
                            <ng-select [items]="buses" bindLabel="name" bindValue="id" placeholder="Select Bus"
                              formControlName="bus_id" [clearable]="false">
                            </ng-select>
                          </div>
                        </div>
                        <div class="row form-group col-sm-12">
                          <div class="col-md-3">
                            Choose Image
                          </div>
                          <div class="col-md-9">
                            <input type="file" (change)="picked($event,file.files);" #file accept='image/*' accept=".png, .jpg, .jpeg"
                              class="form-control" id="icon" placeholder="Gallery Icon" formControlName="icon" />
                            <small class="text-info">Max file size 100KB and supports jpg/jpeg/png</small><br>
                            <span class="text-danger">{{imageError}}</span>
                            <span class="text-danger" *ngIf="busForm.controls['icon'].touched && busForm.controls['icon'].hasError('required')">
                              Icon file is required! </span><br />
                              <div class="col-12">
                                <div class="row">
                                  <div class="col-md-6" *ngIf="busGalleryRecord && busGalleryRecord.bus_image">
                                    <span><b>Existing Image</b></span> <br>                       
                                    <img    class="sliderImage" src="{{path}}/bus_photos/{{busGalleryRecord.bus_image}}" height="50"/>
    
                                  </div>
                                  <div class="col-md-6" *ngIf="imgURL">
                                    <span ><b>New image</b></span><br>
                                      <img class="sliderImage" [src]="imgURL" height="50" >
    
                                  </div>
                                </div>
                              </div>  
                        </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="saveGallery()" [disabled]="!busForm.valid"
              class="btn btn-primary">{{ModalBtn}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
              (click)="modal.dismiss('Cross click')">Close</button>
          </div>
        </ng-template>

        <ng-template #confirmDialog let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    Would you Like to Delete the Record
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
              (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </ng-template>

      </div>
    </app-card>
  </div>
</div>