
<div class="row">
  <div class="col-sm-12">
      <app-card cardTitle="BUS IMAGE GALLERY" cardClass="card-datatable" [options]="true" [isCardFooter]="true">
          
          <div class="from-group ">
              <button class="btn btn-sm btn-dark mb-2 " (click)="ResetAttributes();OpenModal(content)" >
                  Add Page
              </button>
          </div>


          
          <div class="table-responsive">
              <table class="table table-striped table-bordered">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <!-- <th>Via</th> -->
                        <th>Bus number</th>
                        <th>Add Date</th>
                        <th>Preview</th>
                        <th>Actions</th>                       
                      </tr>
                  </thead>
                  <tbody *ngIf="busGallerries?.length != 0">
                    <tr *ngFor="let gallery of busGallerries; let i=index; ">
                        
                        <td>{{ gallery.id }}</td>
                        <td>{{ gallery.bus.name }}</td>
                        <!-- <td class="text-capitalize">{{ gallery.bus.via }}</td> -->
                        <td>{{ gallery.bus.bus_number }}</td>
                        <td>{{ gallery.created_at | date: 'dd/MM/yyyy'}}</td>
                        <td>
                          <img class="sliderImage" [attr.src]="getBannerImagepath(gallery.image)" height="100">
                        </td>
                        <td>                        
                            <a style="cursor: pointer;" (click)="openConfirmDialog(confirmDialog, i)" >
                              <i class="fas fa-trash-alt f-w-600 f-16 text-c-red"></i>                              
                            </a>                  
                        </td>
                    </tr>
                </tbody>
              </table>
          </div>


          <div class="app-card-footer">
             
              <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"(click)="ResetAttributes();OpenModal(content)">Add </button>   
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h5 class="ng-tns-c116-5">{{ModalHeading}}</h5>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-material">
                        <div class="right-icon-control">
                          <form [formGroup]="busForm" class="editForm" novalidate>
                            <div class="row">
                              
                                <div class="row form-group col-sm-12">
                                  <div class="col-md-3">
                                    Select Bus
                                  </div>
                                  <div class="col-md-9">
                                   <select formControlName="bus_id" id="" class="form-control">
                                     <option value="">Choose Bus</option>
                                     <option  *ngFor="let item of buses;" value="{{item.id}}">{{item.name}}</option>
                                   </select>
                                   <span class="text-danger" *ngIf="busForm.controls['bus_id'].touched && busForm.controls['bus_id'].hasError('required')">
                                    Bus Name is required! </span>
                                    <!-- <ng-select 
                                          [items]="buses"
                                          bindLabel="name"
                                          bindValue="id"
                                          placeholder="Select Bus"                                       
                                          formControlName="bus_id" 
                                          [clearable]="false">
                                    </ng-select>  -->
                                  </div>
                                </div>
                                <div class="row form-group col-sm-12">
                                  <div class="col-md-3">
                                    Choose Image
                                  </div>
                                  <div class="col-md-9">
                                    <input type="file" (change)="picked($event,file.files);" #file accept='image/*'  accept=".png, .jpg, .jpeg" class="form-control" id="icon" placeholder="Gallery Icon" formControlName="icon" />
                                    <span class="text-danger">Max file size 100Kb and supports jpg/jpeg/png</span>
                                    <span class="text-danger" >{{imageError}}</span>
                                    <span class="text-danger" *ngIf="busForm.controls['icon'].touched && busForm.controls['icon'].hasError('required')">
                                      Icon file is required! </span><br />
                                    <img [src]="imgURL" height="50" *ngIf="imgURL" >                                    
                                  </div>                                  
                                </div>                              
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" (click)="saveGallery()"  [disabled]="!busForm.valid" class="btn btn-primary" >{{ModalBtn}}</button>
                  <button type="button" class="btn btn-default"  data-dismiss="modal" #defaultClick (click)="modal.dismiss('Cross click')">Close</button>
                </div>
              </ng-template>

              <ng-template #confirmDialog let-modal>
                <div class="modal-header">
                  <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-material">
                        <div class="right-icon-control">
                          Would you Like to Delete the Record
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm Delete</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                    (click)="modal.dismiss('Cross click')">Cancel</button>
                </div>
              </ng-template>
               
            </div>
      </app-card>
  </div>
</div>