<div class="row">  
    <div class="col-sm-12">
      <app-card cardTitle="OWNER FARES" cardClass="card-datatable" [options]="true"  [isCardFooter]="true">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptionsOwnerFare"  [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover  mb-0">
            <thead>
              <tr>
                <th>Id</th><th>Bus Name</th><th>Date</th><th>Seater Price</th><th>Sleeper Price</th><th>Created At</th><th>Status</th><th>Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="ownerFares?.length != 0">
                <tr *ngFor="let ownerFare of ownerFares; let i=index; "><td>{{ ownerFare.id }}</td>
                   <td><div  *ngFor="let busName of ownerFare.name; let nameIndex=index;">
                      <strong>{{nameIndex+1}}</strong>.{{busName}}</div></td><td>{{ ownerFare.date }}</td>
                      <td>{{ ownerFare.seater_price }}</td><td>{{ ownerFare.sleeper_price }}</td>
                    <td>{{ ownerFare.created_at }}</td>
                    <td>
                      <label *ngIf="ownerFare.status==1" class="badge badge-light-success pointer" (click)="changeStatus($event, ownerFare.id);" >Active</label>
                      <label *ngIf="ownerFare.status==0" class="badge badge-light-warning pointer" (click)="changeStatus($event, ownerFare.id);">Pending</label>
                    </td>
                    <td>
                      <a   (click)="editOwnerFare($event, i); OpenModal(content);" class="pointer"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green" ></i></a>
                      <a   (click)="deleteOwnerFare(confirmDialog,ownerFare.id)" class="pointer"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="ownerFares?.length == 0">
              <tr>
                <td colspan="8" class="no-data-available">No data!</td>
              </tr>
            <tbody>
          </table>  
        </div>
        <div class="app-card-footer">
          <ng-template #confirmDialog let-modal>
            <div class="modal-header">
              <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-material">
                    <div class="right-icon-control">
                      Would you Like to Delete the Record
                      <form [formGroup]="formConfirm" class="editForm" novalidate>
                        <input type="hidden" formControlName="id">
                      </form>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"  (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm Delete</button>
              <button type="button" class="btn btn-default"  data-dismiss="modal" #defaultClick (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </ng-template>
          <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal" (click)="ResetAttributes();loadServices();OpenModal(content);">Add </button>    
          <ng-template #content let-modal>
            <div class="modal-header">
              <h5 class="ng-tns-c116-5"> {{ModalHeading}}</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-material">
                    <div class="right-icon-control">
                      <form [formGroup]="ownerFareForm" class="editForm" novalidate>   
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="owner fare">Select</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="operator"><input id="operator" type="radio" [checked]="true" value="operator"  formControlName="searchBy">
                            Operator</label>
                          </div>
                         </div>
                         <div class="col-md-2">
                          <div class="form-group">
                            <label for="routes"><input id="routes" type="radio" value="routes" formControlName="searchBy">
                            Routes</label>
                          </div>
                         </div>
                      </div>   
                        <div class="row" *ngIf="ownerFareForm.controls.searchBy.value=='operator'">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="bus" class="col-sm-4 col-form-label">Operator<span class="text-danger">*</span></label>
                                <div class="col-sm-8"> 
                                  <input type="hidden" class="form-control"  formControlName="id" [value]="ownerFareRecord.id"  /> 
                                  <ng-select 
                                  [items]="busoperators"
                                  bindLabel="operator_name"
                                  bindValue="id"
                                  placeholder="Select Operator"                                       
                                  formControlName="bus_operator_id"
                                  [clearable]="false"
                                  (change)="findOperator($event)"
                                  >
                                  </ng-select> 
                                  
                               
                                </div>                      
                              </div> 
                            </div>
                          </div>  

                          <div class="row" *ngIf="ownerFareForm.controls.searchBy.value=='routes'">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="routes" class="col-sm-4 col-form-label">Routes<span class="text-danger">*</span></label>
                                <div class="col-sm-8"> 
                                  <ng-select 
                                  [items]="locations"
                                  bindLabel="name"
                                  bindValue="id"
                                  placeholder="Select Source"                                       
                                  formControlName="source_id"
                                  [clearable]="false"
                                  (change)="findSource()"
                                  >
                                  </ng-select> 
                               
                                </div>                      
                              </div> 
                            </div>
                            <div class="col-md-6">
                              <div class="form-group row">
                                <div class="col-sm-8"> 
                                  <ng-select 
                                  [items]="locations"
                                  bindLabel="name"
                                  bindValue="id"
                                  placeholder="Select Destination"                                       
                                  formControlName="destination_id"
                                  [clearable]="false"
                                  (change)="findSource($event)"
                                  >
                                  </ng-select> 
                               
                                </div>                      
                              </div> 
                            </div>
                          </div>  

                          <div class="row">
                            <div class="col-md-8">
                              <div class="form-group row">
                                <label for="busname" class="col-sm-3 col-form-label">Bus Name/Number<span class="text-danger">*</span></label>
                                <div class="col-sm-9"> 
                                  <ng-select 
                                  [items]="buses"
                                  bindLabel="name"
                                  bindValue="id"
                                  placeholder="Select Bus"                                       
                                  formControlName="bus_id"
                                  [multiple]="true"
                                  [clearable]="false"
                                  >
                                  </ng-select> 
                                </div>                      
                              </div> 
                            </div>
                          </div>  
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="seaterprice" class="col-sm-4 col-form-label">Seater Price<span class="text-danger">*</span></label>
                                <div class="col-sm-8"> 
                                  <input type="text" class="form-control" placeholder="Enter Seater Price" required formControlName="seater_price" [value]="ownerFareRecord.seater_price"  /> 
                                <span class="text-danger" *ngIf="ownerFareForm.controls['seater_price'].touched && ownerFareForm.controls['seater_price'].hasError('required')">
                                  Seater Price is required! </span>
                                </div>                      
                              </div> 
                            </div>
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="sleeperprice" class="col-sm-4 col-form-label">sleeper Price<span class="text-danger">*</span></label>
                                <div class="col-sm-8">                        
                                  <input type="text" class="form-control" placeholder="Enter Sleeper Price" required formControlName="sleeper_price" [value]="ownerFareRecord.sleeper_price"  />
                                  <span class="text-danger" *ngIf="ownerFareForm.controls['sleeper_price'].touched && ownerFareForm.controls['sleeper_price'].hasError('required')">
                                    Sleeper Price is required! </span>  
                                </div>
                              </div>
                            </div>
                          </div> 
                          <div class="row"> 
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label for="date" class="col-sm-4 col-form-label">Date<span class="text-danger">*</span></label>
                                <div class="col-sm-8">                        
                                  <input type="date" class="form-control" placeholder="Enter Date" required formControlName="date" [value]="ownerFareRecord.date"  />
                                  <span class="text-danger" *ngIf="ownerFareForm.controls['date'].touched && ownerFareForm.controls['date'].hasError('required')">
                                    Date of owner fare required! </span>  
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">                                                      
                              <div class="form-group row">
                                <label for="reason" class="col-sm-2 col-form-label">Reason<span class="text-danger">*</span></label>
                                <div class="col-sm-10">                        
                                  <input type="text" class="form-control" placeholder="Enter Reason" required formControlName="reason" [value]="ownerFareRecord.reason" />
                                  <span class="text-danger" *ngIf="ownerFareForm.controls['reason'].touched && ownerFareForm.controls['reason'].hasError('required')">
                                  Reason is required! </span>
                                </div>
                              </div>  
                            </div> 
                        

                        </div>        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" [disabled]="!ownerFareForm.valid" (click)="addOwnerFare()" class="btn btn-primary" ngbAutofocus>{{ModalBtn}}</button>
              <button type="button" class="btn btn-default"  data-dismiss="modal" #defaultClick (click)="modal.dismiss('Cross click')">Close</button>
            </div>
        </ng-template>
        </div>  
          </app-card>  
    </div>  
    </div>
    <ng2-toasty [position]="position"></ng2-toasty>
    
    
     
     