<div class="row">
    <div class="col-sm-12">
        <div class="form-material">
            <div class="right-icon-control">
                <form [formGroup]="pwdform" class="editForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <h5>USER</h5>                                                  -->
                            <div class="from-group">
                                <label for="name" class="col-sm-3 col-form-label">Password :<span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" ngbAutofocus
                                        placeholder="Enter Password" required
                                        formControlName="password" />
                                    <span class="text-danger"
                                        *ngIf="pwdform.controls['password'].touched && pwdform.controls['password'].hasError('required')">
                                       Password is Required
                                    </span>
                                    <span class="text-danger"
                                    *ngIf="pwdform.controls['password'].touched && pwdform.controls['password'].hasError('minlength')">
                                    minimum 5 Characters Allowed
                                </span>
                                <span class="text-danger"
                                    *ngIf="pwdform.controls['password'].touched && pwdform.controls['password'].hasError('maxlength')">
                                    Maximum 10 Characters Allowed
                                </span>
                                </div>
                            </div>
                            <div class="from-group">
                                <label for="name" class="col-sm-3 col-form-label">Confirm Password :<span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" ngbAutofocus
                                        placeholder="Enter Confirm Password" required
                                        formControlName="conf_password" />
                                    <span class="text-danger"
                                        *ngIf="pwdform.controls['conf_password'].touched && pwdform.controls['conf_password'].hasError('required') ">
                                        Confirm Password is Required
                                    </span> 
                                    
                                    <span  *ngIf="pwdform.controls['conf_password'].touched && pwdform.controls['conf_password'].hasError('mustMatch') ">
                                        Password doesn't match
                                      </span>
                                                                                          
                                </div>
                            </div> 

                            <div class="from-group mt-3 ml-3">
                                <button type="button"  (click)="updatePassword()" [disabled]="!pwdform.valid"
                                class="btn btn-primary">Update</button>
                            </div>                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>