<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Coupon Listing" cardClass="card-datatable" [options]="true" [isCardFooter]="true">
            <div class="from-group text-left">
                <button class="btn btn-sm btn-success mb-2 " (click)="ResetAttributes();OpenModal(content)">
                    Add Coupon
                </button>

                <!-- <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"(click)="ResetAttributes();OpenModal(content)">Add </button> -->
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width ="50px">#</th>
                            <th scope="col" width ="150px">Valid From</th>
                            <th scope="col" width ="150px">Valid Till</th>
                            <th scope="col">Coupon Title</th>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">Max Redeem</th>
                            <th scope="col" width ="100px"> View </th>                        
                        </tr>
                    </thead>
                    <tbody *ngIf="coupons?.length != 0">
                      <tr  *ngFor="let couponData of coupons; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{couponData.from_date | date: 'MMM d, y'}}</td>
                        <td>{{couponData.to_date | date: 'MMM d, y'}}</td>
                        <td>{{couponData.coupon_title}}</td>
                        <td>{{couponData.coupon_code}}</td>
                        <td>{{couponData.max_redeem}}</td>
                        <td >
                         <button class="btn btn-success text btn-sm m-1"  (click)="loadElements(i);OpenModal(content)" title="Details">
                           <i class="fas fa-edit"></i>
                          </button>

                          <button class="btn btn-danger text btn-sm m-1"  (click)="openConfirmDialog(confirmDialog, i)" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                           </button>
                        </td>
                      </tr>                        
                    </tbody>
                </table>

                <!-- <div *ngIf="pagination?.length != 0" class="hide_print">
                  <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
                      <nav class="my-1 pt-1 ">
                          <ul class="pagination pagination-circle pg-blue mb-0">
                              <li (click)="search(pagination.links.first_page_url,statusLabel)"
                                  class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                                  <a class="page-link">First</a>
                              </li>
                              <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                                  <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                                      (click)="(b.url) ? search(b.url) : ''"
                                      [innerHTML]="page(b.label)"></a>
                              </li>
                              <li class="page-item {{ pagination.links.last_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block"
                                  (click)="search(pagination.links.last_page_url,statusLabel)">
                                  <a class="page-link">Last</a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div> -->
            </div>


            <div class="app-card-footer">
                <ng-template #confirmDialog let-modal>
                    <div class="modal-header">
                        <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
                        <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-material">
                                    <div class="right-icon-control">
                                        Would you Like to Delete the Record
                                        <form [formGroup]="formConfirm" class="editForm" novalidate>
                                            <input type="hidden" formControlName="id">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm
                            Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                            (click)="modal.dismiss('Cross click')">Cancel</button>
                    </div>
                </ng-template>
                <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
                    (click)="ResetAttributes();OpenModal(content)">Add </button>
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h5 class="ng-tns-c116-5">{{ModalHeading}}</h5>
                        <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-material">
                                    <div class="right-icon-control">
                                        <form [formGroup]="form" class="editForm" novalidate>
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <h5>Coupon Info</h5>

                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-3 col-form-label">Coupon Title:<span class="text-danger">*</span></label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus formControlName="coupon_title" placeholder="Coupon Title" required />

                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <!-- <label>Page name :</label> -->
                                                        <label for="name" class="col-sm-3 col-form-label">Coupon Code:<span class="text-danger">*</span></label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus formControlName="coupon_code"
                                                                placeholder="Coupon Code" required />

                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <!-- <label>Page name :</label> -->
                                                        <label for="name" class="col-sm-12 col-form-label">Short Description:<span class="text-danger">*</span></label>
                                                        <div class="col-sm-12">
                                                            <textarea class="form-control" formControlName="short_description" ngbAutofocus
                                                                placeholder="Short Description"></textarea>

                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label for="name" class="col-sm-5 col-form-label">About Coupon :<span class="text-danger">*</span></label>
                                                        <angular-editor  class="col-sm-12" formControlName="full_description"
                                                            [config]="editorConfig"></angular-editor>
                                                    </div>



                                                </div>

                                                <div class="col-md-6">

                                                    <h5>Coupon Type And Validity</h5>

                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-3 col-form-label">Coupon Type
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <select class="form-control" formControlName="coupon_type">
                                                                <option value="1">Percentage %</option>
                                                                <option value="2">Cut Off</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="from-group" *ngIf="form.controls.coupon_type.value=='1'">
                                                        <label for="name" class="col-sm-3 col-form-label">Percentage
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus formControlName="percentage"
                                                                placeholder="Percentage">
                                                        </div>
                                                    </div>

                                                    <div class="from-group" *ngIf="form.controls.coupon_type.value=='1'">
                                                        <label for="name" class="col-sm-4 col-form-label">Max Discount :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus formControlName="max_discount" placeholder="Max Discount">
                                                        </div>
                                                    </div>


                                                    <div class="from-group" *ngIf="form.controls.coupon_type.value=='2'">
                                                        <label for="name" class="col-sm-12 col-form-label">Cut Off Ammount :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus formControlName="cut_off_amount"  placeholder="Cut Off Amount">
                                                        </div>
                                                    </div>
                                                    <div class="from-group" *ngIf="form.controls.coupon_type.value=='2'">
                                                        <label for="name" class="col-sm-12 col-form-label">Min Transaction Ammount :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus formControlName="min_tran_amount" placeholder="Min Transaction Ammount">
                                                        </div>
                                                    </div>

                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">Valid By :</label>
                                                        <div class="col-sm-12">
                                                            <select class="form-control" formControlName="valid_by">
                                                                <option value="1">Journey Date</option>
                                                                <option value="2">Bookign Date</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">From Date :</label>
                                                        <div class="col-sm-12">
                                                            <input type="date" class="form-control" ngbAutofocus formControlName="from_date"
                                                                placeholder="From Date">
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">To Date :</label>
                                                        <div class="col-sm-12">
                                                            <input type="date" class="form-control" ngbAutofocus formControlName="to_date"
                                                                placeholder="To Date">
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">Max Redeem :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus formControlName="max_redeem"
                                                                placeholder="Max Redeem">
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="addData()" [disabled]="!form.valid"
                            class="btn btn-primary">{{ModalBtn}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                            (click)="modal.dismiss('Cross click')">Close</button>
                    </div>
                </ng-template>

            </div>
        </app-card>
    </div>
</div>