<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="false" cardTitle="Coupon Listing" cardClass="card-datatable" [options]="true"
            cardClass=" table-border-style user-profile-list " [isCardFooter]="true">
            <div class="row">
                <div class="col-2">
                    <div class="from-group ">
                        <button class="btn sml_input btn-success mb-2 " (click)="ResetAttributes();OpenModal(content)">
                            Add Coupon
                        </button>
                    </div>
                </div>
                <div class="col-10">
                    <form [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-5">
                                <div class="form-group row">

                                    <div class="col-sm-12">
                                        <input type="text" class="form-control sml_input"
                                            placeholder="Search Operator name - Coupon name" required formControlName="name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <button type="button" class="btn btn-success  sml_input" (click)="search()"
                                    title="search">
                                    <i class="fas fa-search"> </i> Search
                                </button>
                                <button type="button" class="btn btn-danger sml_input" (click)="refresh()"
                                    title="refresh">
                                    <i class="fas fa-sync-alt"> </i> Refresh
                                </button>
                                <button type="button" (click)="exportexcel()" class="btn btn-warning  sml_input"
                                    title="Export">
                                    <i class="fas fa-file-export"> </i> Export
                                </button>
                                <button type="button" printSectionId="print-section" ngxPrint
                                    class="btn btn-info sml_input" [useExistingCss]="true" title="Print">
                                    <i class="fas fa-print"> </i> Print
                                </button>
                            </div>
                            <div class="col-2">
                                <div class="dropdown float-right">
                                    <select class="form-control sml_input" formControlName="rows_number"
                                        (change)=search()>
                                        <option value=10>10</option>
                                        <option value=25>25</option>
                                        <option value=50>50</option>
                                        <option value=100>100</option>
                                        <option value='all'>All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive" id="print-section">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Operator</th>
                            <th>Valid From</th>
                            <th>Valid Till</th>
                            <th>Coupon Title</th>
                            <th>Coupon Code</th>
                            <th>Max Redeem</th>
                            <th width="180">Created/Updated On</th>
                            <th>Created_By</th>
                            <th width="100" class="hide_print" >&nbsp; </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="coupons?.length != 0">
                        <tr *ngFor="let couponData of coupons; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{couponData.bus_operator.operator_name}}</td>
                            <td>{{ couponData.bus_operator.organisation_name }}  [{{ couponData.bus_operator.operator_name }}]</td>
                            <td>{{couponData.from_date | date: 'MMM d, y'}}</td>
                            <td>{{couponData.to_date | date: 'MMM d, y'}}</td>
                            <td>{{couponData.coupon_title}}</td>
                            <td>{{couponData.coupon_code}}</td>
                            <td>
                                {{couponData.max_redeem}}                              
                            </td>
                            <td>
                                {{couponData.updated_at | date: 'dd/MM/yyyy' }}
                              </td>
                              <td>
                                {{couponData.created_by}}
                              </td>
                            <td class="hide_print">
                                <div class="overlay-edit">
                                    <button type="button" (click)="loadElements(i);OpenModal(content)"
                                        class="btn btn-icon btn-success"><i class="feather icon-edit"></i></button>
                                    <button type="button" (click)="openConfirmDialog(confirmDialog, i)"
                                        class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="coupons?.length == 0">
                        <tr>
                          <td colspan="10" class="no-data-available">No data!</td>
                        </tr>
                      <tbody>
                </table>
            </div>
            <div *ngIf="pagination?.length!= 0" class="hide_print container">
                <div class="row">
                  <div class="col-6">
                   
                      <div class="col-12">
                        <p class=" row mt-3 ml-1"> Showing {{all?.count}} of {{all?.total}} records. </p>
                      </div> 
                  </div>
                  <div class="col-6">
                    <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
                      <nav class="my-1 pt-1 ">
                          <ul class="pagination pagination-circle pg-blue mb-0">
                              <li (click)="search(pagination.first_page_url,statusLabel)"
                                  class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                                  <a class="page-link">First</a>
                              </li>
                              <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                                  <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                                      (click)="(b.url) ? search(b.url) : ''"
                                      [innerHTML]="page(b.label)"></a>
                              </li>
                              <li class="page-item {{ pagination.last_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block"
                                  (click)="search(pagination.last_page_url,statusLabel)">
                                  <a class="page-link">Last</a>
                              </li>
                          </ul>
                      </nav>
                  </div>
        
                  </div>
        
                </div>
              </div>
            <div class="app-card-footer">
                <ng-template #confirmDialog let-modal>
                    <div class="modal-header">
                        <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
                        <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-material">
                                    <div class="right-icon-control">
                                        Would you Like to Delete the Record
                                        <form [formGroup]="formConfirm" class="editForm" novalidate>
                                            <input type="hidden" formControlName="id">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm
                            Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                            (click)="modal.dismiss('Cross click')">Cancel</button>
                    </div>
                </ng-template>
                <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
                    (click)="ResetAttributes();OpenModal(content)">Add </button>
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h5 class="ng-tns-c116-5">{{ModalHeading}}</h5>
                        <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-material">
                                    <div class="right-icon-control">
                                        <form [formGroup]="form" class="editForm" novalidate>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5>Coupon Info</h5>
                                                    <div class="from-group">
                                                        <label for="bus" class="col-sm-5  col-form-label">Operator <span
                                                                class="text-danger">*</span></label>
                                                        <div class="col-sm-12">
                                                            <ng-select [items]="busoperators" bindLabel="operatorData"
                                                                bindValue="id" placeholder="Select Operator"
                                                                formControlName="bus_operator_id" [clearable]="false">
                                                            </ng-select>
                                                            <span class="text-danger"
                                                                *ngIf="form.controls['bus_operator_id'].touched && form.controls['bus_operator_id'].hasError('required')">
                                                                Operator Name is required! </span>
                                                        </div>
                                                    </div>

                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-3 col-form-label">Coupon
                                                            Title:<span class="text-danger">*</span></label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus
                                                                formControlName="coupon_title"
                                                                placeholder="Coupon Title" required />
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <!-- <label>Page name :</label> -->
                                                        <label for="name" class="col-sm-3 col-form-label">Coupon
                                                            Code:<span class="text-danger">*</span></label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus
                                                                formControlName="coupon_code" placeholder="Coupon Code"
                                                                required />
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <!-- <label>Page name :</label> -->
                                                        <label for="name" class="col-sm-12 col-form-label">Short
                                                            Description:<span class="text-danger">*</span></label>
                                                        <div class="col-sm-12">
                                                            <textarea class="form-control"
                                                                formControlName="short_description" ngbAutofocus
                                                                placeholder="Short Description"></textarea>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label for="name" class="col-sm-5 col-form-label">About Coupon
                                                            :<span class="text-danger">*</span></label>
                                                        <angular-editor class="col-sm-12"
                                                            formControlName="full_description" [config]="editorConfig">
                                                        </angular-editor>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h5>Coupon Type And Validity</h5>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-3 col-form-label">Coupon Type
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <select class="form-control" formControlName="coupon_type">
                                                                <option value="1">Percentage %</option>
                                                                <option value="2">Cut Off</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="from-group"
                                                        *ngIf="form.controls.coupon_type.value=='1'">
                                                        <label for="name" class="col-sm-3 col-form-label">Percentage
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus
                                                                formControlName="percentage" placeholder="Percentage">
                                                        </div>
                                                    </div>
                                                    <div class="from-group"
                                                        *ngIf="form.controls.coupon_type.value=='1'">
                                                        <label for="name" class="col-sm-4 col-form-label">Max Discount
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus
                                                                formControlName="max_discount_price"
                                                                placeholder="Max Discount">
                                                        </div>
                                                    </div>
                                                    <div class="from-group"
                                                        *ngIf="form.controls.coupon_type.value=='2'">
                                                        <label for="name" class="col-sm-12 col-form-label">Cut Off
                                                            Ammount :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus
                                                                formControlName="amount" placeholder="Cut Off Amount">
                                                        </div>
                                                    </div>
                                                    <div class="from-group"
                                                        *ngIf="form.controls.coupon_type.value=='2'">
                                                        <label for="name" class="col-sm-12 col-form-label">Min
                                                            Transaction Ammount :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus
                                                                formControlName="min_tran_amount"
                                                                placeholder="Min Transaction Ammount">
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">Valid By
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <select class="form-control" formControlName="valid_by">
                                                                <option value="1">Journey Date</option>
                                                                <option value="2">Booking Date</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">From Date
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <input type="date" class="form-control" ngbAutofocus
                                                                formControlName="from_date" placeholder="From Date">
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">To Date
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <input type="date" class="form-control" ngbAutofocus
                                                                formControlName="to_date" placeholder="To Date">
                                                        </div>
                                                    </div>
                                                    <div class="from-group">
                                                        <label for="name" class="col-sm-4 col-form-label">Max Redeem
                                                            :</label>
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" ngbAutofocus
                                                                formControlName="max_redeem" placeholder="Max Redeem">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="addData()" [disabled]="!form.valid"
                            class="btn btn-primary">{{ModalBtn}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                            (click)="modal.dismiss('Cross click')">Close</button>
                    </div>
                </ng-template>
            </div>
        </app-card>
    </div>
</div>