
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="false" cardTitle="API User Commission Slab" cardClass="card-datatable" [options]="false"
        cardClass=" table-border-style user-profile-list " [isCardFooter]="false">
        <div class="row">
         
          <div class="col-12">
            <form [formGroup]="searchForm">
                <div class="row">
                  <div class="col-md-2">
                    <div class="from-group ">
                      <button class="btn sml_input btn-success mb-2 " (click)="ResetAttributes();OpenModal(content)">
                        Add Commission Slab
                      </button>
                    </div>
                  </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <div class="col-sm-12">
                              <ng-select [items]="allagent" bindLabel="name"  bindValue="id" placeholder="Select API Client"  
                                 formControlName="user_id" [clearable]="false" >
                              </ng-select>                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-success  sml_input" (click)="search()"
                            title="search">
                            Search
                        </button>&nbsp;
                        <button type="button" class="btn btn-danger sml_input" (click)="refresh()"
                            title="refresh">
                             Refresh
                        </button>

                        <div class="dropdown float-right">
                          <select class="form-control sml_input" formControlName="rows_number" (change)=search()>
                              <option value=10>10</option>
                              <option value=25>25</option>
                              <option value=50>50</option>
                              <option value=100>100</option>
                              <!-- <option value='all'>All</option> -->
                          </select>
                      </div>
                    </div>
                    
                
                </div>
            </form>
        </div>
          <!-- <div class="col-8">
            <form [formGroup]="searchForm">
              <div class="row">                
                <div class="col-12">
                  <div class="dropdown float-right">
                    <select class="form-control sml_input" formControlName="rows_number" (change)=search()>
                      <option value=10>10</option>
                      <option value=25>25</option>
                      <option value=50>50</option>
                      <option value=100>100</option>
                      <option value='all'>All</option>
                    </select>
                  </div>
                </div>  
              </div>
            </form>  
          </div>   -->
        </div>
  
        <div class="table-responsive" id="print-section">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>SL.NO</th>
                <th>API User</th>
                <th>Range From</th>
                <th>Range To</th>
                <th>Commission</th>
                <th>Additional Charges</th>
                <th>Cancellation Comission</th>
                <th scope="col">Created/Updated On</th>
                <th scope="col">Created By</th>                
                <th width="100" class="hide_print">&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="apiusercommissionslab?.length != 0">
              <tr *ngFor="let cm of apiusercommissionslab; let i=index;">
                <td>{{ i+1}}</td>
                <td>{{ cm.user.name }}</td>
                <td>{{ cm.starting_fare }}</td>
                <td>{{ cm.upto_fare }}</td>
                <td>{{ cm.commision }}</td>
                <td>{{ cm.addationalcharges }}</td>
                <td>{{ cm.cancellation_commission }}</td>
                <td>{{ cm.updated_at| date: 'yyyy-MM-dd hh:mm:ss' }}</td>
                <td>{{ cm.created_by }}</td>
                <td class="hide_print">
                  <div class="overlay-edit">
                      <button type="button" (click)="editAgentCommission($event, i); OpenModal(content);"
                          class="btn btn-icon btn-success"><i class="feather icon-edit"></i></button>
                      <!-- <button type="button" (click)="deleteBusType(confirmDialog, busType.id)"
                          class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button> -->
                  </div>
              </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="pagination?.length!= 0" class="hide_print container">
            <div class="row">
              <div class="col-6">               
                  <div class="col-12">
                    <p class=" row mt-3 ml-1"> Showing {{all?.count}} of {{all?.total}} records. </p>
                  </div> 
              </div>
              <div class="col-6">
                <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
                  <nav class="my-1 pt-1 ">
                    <ul class="pagination pagination-circle pg-blue mb-0">
                      <li (click)="search(pagination.first_page_url,statusLabel)"
                        class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                        <a class="page-link">First</a>
                      </li>
                      <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                        <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                          (click)="(b.url) ? search(b.url) : ''" [innerHTML]="page(b.label)"></a>
                      </li>
                      <li class="page-item {{ pagination.next_page_url == null? 'disabled' : '' }} clearfix d-none d-md-block"
                        (click)="search(pagination.last_page_url,statusLabel)">
                        <a class="page-link">Last</a>
                      </li>
                    </ul>
                  </nav>
                </div>    
              </div>    
            </div>
          </div> 
        </div>
  
  
        <div class="app-card-footer">
          <!-- <ng-template #confirmDialog let-modal>
            <div class="modal-header">
              <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-material">
                    <div class="right-icon-control">
                      Would you Like to Delete the Record
                      <form [formGroup]="formConfirm" class="editForm" novalidate>
                        <input type="hidden" formControlName="id">
                      </form>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm Delete</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
          </ng-template> -->
          <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
            (click)="ResetAttributes();OpenModal(content)">Add </button>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h5 class="ng-tns-c116-5"> {{ModalHeading}}</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="height: 300px;">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-material">
                    <div class="right-icon-control">
                      <form [formGroup]="form" class="editForm" novalidate>
                        <div class="row">
                          <div class="from-group col-md-4">
                            <label for="name" class="col-sm-12 col-form-label">Select API User :<span class="text-danger">*</span></label>
                            <div class="col-sm-12">
                              <ng-select [items]="allagent" bindLabel="name"  bindValue="id" placeholder="Select API Client"  
                                    formControlName="user_id" [clearable]="false" >
                              </ng-select>
                                <span class="text-danger"
                                    *ngIf="form.controls['user_id'].touched && form.controls['user_id'].hasError('required')">
                                    Select API User
                                </span>
                            </div>
                        </div>

                         
                          <div class="form-group col-md-4">
                            <label for="name" class="col-sm-12 col-form-label">Range From
                              :<span class="text-danger">*</span></label>                            
                            <div class="col-sm-12">
                              <input type="text" class="form-control" formControlName="starting_fare">
                              <span class="text-danger"
                                *ngIf="form.controls['starting_fare'].touched && form.controls['starting_fare'].hasError('required')">
                                Range from is required! </span>
                            </div>
                          </div>
                         
                         
                          <div class="form-group col-md-4">
                            <label for="name" class="col-sm-12 col-form-label">Range To
                              :<span class="text-danger">*</span></label>  
                            <div class="col-sm-12">
                              <input type="text" class="form-control" formControlName="upto_fare">
                              <span class="text-danger"
                                *ngIf="form.controls['upto_fare'].touched && form.controls['upto_fare'].hasError('required')">
                                Range to is required! </span>
                            </div>
                          </div>                        
                          
                          <div class="form-group col-md-4">
                            <label for="name" class="col-sm-12 col-form-label">Commission:<span class="text-danger">*</span>(%)</label>  
                            <div class="col-sm-12">
                              <input type="text" class="form-control" formControlName="commision">
                              <span class="text-danger"
                                *ngIf="form.controls['commision'].touched && form.controls['commision'].hasError('required')">
                                Commission  is required! </span>
                            </div>
                          </div>   

                          <div class="form-group col-md-4">
                            <label for="name" class="col-sm-12 col-form-label">Additional Charges:<span class="text-danger">*</span>(%)</label>  
                            <div class="col-sm-12">
                              <input type="text" class="form-control" formControlName="addationalCharges">
                              <span class="text-danger"
                                *ngIf="form.controls['addationalCharges'].touched && form.controls['addationalCharges'].hasError('required')">
                                Additional Charges is required! </span>
                            </div>
                          </div>  
                                                 
                          <div class="form-group col-md-4">
                            <label for="name" class="col-sm-12 col-form-label">Cancellation Comission:<span class="text-danger">*</span>(%)</label>  
                            <div class="col-sm-12">
                              <input type="text" class="form-control" formControlName="cancelCommission">
                              <span class="text-danger"
                                *ngIf="form.controls['cancelCommission'].touched && form.controls['cancelCommission'].hasError('required')">
                                Cancellation Commission is required! </span>
                            </div>
                          </div>                         
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" [disabled]="!form.valid" (click)="addCommissionSlab()" class="btn btn-primary"
                ngbAutofocus>{{ModalBtn}}</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                (click)="modal.dismiss('Cross click')">Close</button>
            </div>
          </ng-template>
        </div>
      </app-card>
    </div>
  </div>