::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}
::ng-deep .ng-select {
    border: 1px solid #d9d9d9;
    padding:0px;
    font-weight: normal;
}

::ng-deep .ng-select>div
{
	border:none !important;
}
::ng-deep tr.odd
{
    display: none;
}
::ng-deep tr.even
{
    display: none;
}

@media print {
    ::ng-deep .hide_print {
      display: none !important;
    }
  }


    
  ::ng-deep .sml_input
  {
  height: calc(1.5em + 1rem);
  padding:0px 9px;
  margin-left: 2px;
  }