<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="false" cardTitle="SEO Setting" cardClass="card-datatable" [options]="true"
      cardClass=" table-border-style user-profile-list " [isCardFooter]="true">
      <div class="row">
        <div class="col-2">
          <div class="from-group ">
            <button class="btn sml_input btn-success mb-2 " (click)="ResetAttributes();OpenModal(content)">
              Add SEO Setting
            </button>
          </div>
        </div>
        <div class="col-10">
          <form [formGroup]="searchForm">
            <div class="row">

              <div class="col-3">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <ng-select [items]="busoperators" bindLabel="operator_name" bindValue="id"
                      placeholder="Select Operator" formControlName="bus_operator_id" [clearable]="false">
                    </ng-select>
                  </div>
                </div>
              </div>

              <div class="col-2">
                <div class="form-group row">

                  <div class="col-sm-12">
                    <input type="text" class="form-control sml_input" placeholder="Search Here " required
                      formControlName="name" />
                  </div>
                </div>
              </div>


              <div class="col-5">
                <button type="button" class="btn btn-success  sml_input" (click)="search()" title="search">
                  <i class="fas fa-search"> </i> Search
                </button>
                <button type="button" class="btn btn-danger sml_input" (click)="refresh()" title="refresh">
                  <i class="fas fa-sync-alt"> </i> Refresh
                </button>
                <button type="button" (click)="exportexcel()" class="btn btn-warning  sml_input" title="Export">
                  <i class="fas fa-file-export"> </i> Export
                </button>
                <button type="button" printSectionId="print-section" ngxPrint class="btn btn-info sml_input"
                  [useExistingCss]="true" title="Print">
                  <i class="fas fa-print"> </i> Print
                </button>
              </div>



              <div class="col-2">
                <div class="dropdown float-right">
                  <select class="form-control sml_input" formControlName="rows_number" (change)=search()>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                    <option value='all'>All</option>
                  </select>
                </div>
              </div>
            </div>
          </form>


        </div>

      </div>
      <div class="table-responsive" id="print-section">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col" width="100px">#</th>
              <th scope="col">Page URL</th>
              <th scope="col">Operator Name</th>
              <th scope="col">Created/Updated On</th>
                <th scope="col">Created By</th>
              <!-- <th scope="col">Url Description</th> -->
              <th class="hide_screen">Meta Title</th>
              <th class="hide_screen">Meta Keyword</th>
              <th class="hide_screen">Meta Description</th>
              <th class="hide_screen">Extra Meta </th>
              <th class="hide_screen">Canonical URL</th>
              <th scope="col">Status</th>
              <th width="100" class="hide_print">&nbsp; </th>
            </tr>
          </thead>
          <tbody *ngIf="urlcontent?.length != 0">
            <tr *ngFor="let page of urlcontent; let i=index;">
              <td>{{i+1}}</td>
              <td>{{page.page_url}}</td>
              <td>{{page.bus_operator.operator_name}}</td>
              <td>{{ page.updated_at| date: 'dd/MM/yyyy' }}</td>
              <td>{{ page.created_by }}</td>
              <!-- <td>{{page.url_description}}</td> -->
              <td class="hide_screen">{{page.meta_title}}</td>
              <td class="hide_screen">{{page.meta_keyword}}</td>
              <td class="hide_screen">{{page.meta_description}}</td>
              <td class="hide_screen">{{page.extra_meta}}</td>
              <td class="hide_screen">{{page.canonical_url}}</td>
              <td>
                <label *ngIf="page.status==1" class="badge badge-light-primary pointer text-dark"
                  (click)="changeStatus($event, page.id);">Active</label>
                <label *ngIf="page.status==0" class="badge badge-light-danger pointer text-dark"
                  (click)="changeStatus($event, page.id);">Pending</label>
              </td>

              <td class="hide_print">
                <div class="overlay-edit">
                  <button type="button" (click)="editData(i);OpenModal(content)" class="btn btn-icon btn-success"><i
                      class="feather icon-edit"></i></button>
                  <button type="button" (click)="openConfirmDialog(confirmDialog, i)" class="btn btn-icon btn-danger"><i
                      class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="pagination?.length!= 0" class="hide_print container">
          <div class="row">
            <div class="col-6">
             
                <div class="col-12">
                  <p class=" row mt-3 ml-1"> Showing {{all?.count}} of {{all?.total}} records. </p>
                </div> 
            </div>
            <div class="col-6">
              <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
                <nav class="my-1 pt-1 ">
                  <ul class="pagination pagination-circle pg-blue mb-0">
                    <li (click)="search(pagination.first_page_url,statusLabel)"
                      class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                      <a class="page-link">First</a>
                    </li>
                    <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                      <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                        (click)="(b.url) ? search(b.url) : ''" [innerHTML]="page(b.label)"></a>
                    </li>
                    <li class="page-item {{ pagination.next_page_url == null? 'disabled' : '' }} clearfix d-none d-md-block"
                      (click)="search(pagination.last_page_url,statusLabel)">
                      <a class="page-link">Last</a>
                    </li>
                  </ul>
                </nav>
              </div>
  
            </div>
  
          </div>
        </div>  
      </div>


      <div class="app-card-footer">
        <ng-template #confirmDialog let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    Would you Like to Delete the Record
                    <form [formGroup]="formConfirm" class="editForm" novalidate>
                      <input type="hidden" formControlName="id">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
              (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </ng-template>
        <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
          (click)="ResetAttributes();OpenModal(content)">Add </button>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5">{{ModalHeading}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    <form [formGroup]="form" class="editForm" novalidate>
                      <div class="row">
                        <div class="col-md-12">

                          <div class="from-group">
                            <label for="name" class="col-sm-6 col-form-label">Select Operator :<span
                                class="text-danger">*</span></label>
                            <div class="col-sm-12">

                              <div class="form-group row">
                                <div class="col-sm-12">
                                  <ng-select [items]="busoperators" bindLabel="operator_name" bindValue="id"
                                    placeholder="Select Operator" formControlName="bus_operator_id" [clearable]="false">
                                  </ng-select>
                                </div>
                              </div>
                              <span class="text-danger"
                                *ngIf="form.controls['bus_operator_id'].touched && form.controls['bus_operator_id'].hasError('required')">
                                Operator is Required
                              </span>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">                                
                                <label for="name" class="col-sm-12 col-form-label">Select Seo Type :<span
                                  class="text-danger">*</span></label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label  class="col-sm-12 col-form-label">
                                  <input  type="radio"  value="1" formControlName="seo_type" [checked]="true">
                                  Routes</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="col-sm-12 col-form-label">
                                  <input   type="radio"  value="2" formControlName="seo_type">
                                  Others</label>
                              </div>
                            </div>
                           
                          </div>

    
                          <div class="row" *ngIf="form.controls.seo_type.value=='1'">
                            <div class="col-md-3">    
                                <label for="routes" class="col-sm-4 col-form-label">Routes<span
                                    class="text-danger">*</span></label>                              
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <div class="col-sm-12">
                                  <ng-select [items]="locations" 
                                  bindLabel="name" 
                                  bindValue="id" 
                                  placeholder="Select Source"
                                  formControlName="source_id"
                                  [clearable]="false" >
                                  </ng-select>    
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <div class="col-sm-12">
                                  <ng-select [items]="locations" 
                                    bindLabel="name" bindValue="id"
                                    placeholder="Select Destination" 
                                    formControlName="destination_id" 
                                    [clearable]="false"> 
                                  </ng-select>
    
                                </div>
                              </div>
                            </div>
                           
                          </div>

                          <div class="row" *ngIf="form.controls.seo_type.value=='1'">
                              
                              <label for="routes" class="col-sm-4 col-form-label">URL Description :<span
                                  class="text-danger">*</span></label>                              
                      
                          <div class="col-md-12">
                            <div class="form-group row">
                              <div class="col-sm-12">
                                <angular-editor formControlName="url_description" [config]="editorConfig"></angular-editor>
                              </div>
                            </div>
                          </div>
                   
                          
                          </div>

                          <!-- <div class="row"  *ngIf="form.controls.seo_type.value=='2'">
                            <div class="col-md-3">    
                                <label for="routes" class="col-sm-12 col-form-label">Type Name:<span
                                    class="text-danger">*</span></label>                              
                            </div>
                            <div class="col-md-8">
                              <div class="form-group row">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" ngbAutofocus placeholder="Enter Type Name here" 
                                  formControlName="other" />
                                </div>
                              </div>
                            </div>
                          </div> -->

                        

                          <div class="from-group">
                            <label for="name" class="col-sm-3 col-form-label"> URL :<span
                                class="text-danger">*</span></label>
                            <div class="col-sm-12">
                              <input type="text" class="form-control" ngbAutofocus placeholder="Enter URL here" required
                                formControlName="page_url" />
                              <span class="text-danger"
                                *ngIf="form.controls['page_url'].touched && form.controls['page_url'].hasError('required')">
                                URL is Required
                              </span>
                            </div>
                          </div>




                         



                        </div>

                        <div class="col-md-12">

                          <h4 class="text-center mt-3">SEO Content</h4>

                          <div class="from-group">
                            <label for="name" class="col-sm-3 col-form-label">Meta Title :</label>
                            <div class="col-sm-12">
                              <input type="text" class="form-control" ngbAutofocus placeholder="Enter Meta Title"
                                formControlName="meta_title" />
                            </div>
                          </div>

                          <div class="from-group">
                            <label for="name" class="col-sm-3 col-form-label">Meta Keyword :</label>
                            <div class="col-sm-12">
                              <input type="text" class="form-control" ngbAutofocus placeholder="Enter Meta Keyword"
                                formControlName="meta_keyword" />
                            </div>
                          </div>

                          <div class="from-group">
                            <label for="name" class="col-sm-4 col-form-label">Meta Description :</label>
                            <div class="col-sm-12">
                              <textarea class="form-control" ngbAutofocus placeholder="Enter Meta Description"
                                formControlName="meta_description" rows="3"></textarea>
                            </div>
                          </div>


                          <div class="from-group">
                            <label for="name" class="col-sm-4 col-form-label">Extra Meta :</label>
                            <div class="col-sm-12">
                              <textarea class="form-control" ngbAutofocus placeholder="Enter Extra Meta"
                                formControlName="extra_meta" rows="3"></textarea>
                            </div>
                          </div>

                          <div class="from-group">

                            <label for="name" class="col-sm-3 col-form-label">Canonical URL :</label>
                            <div class="col-sm-12">
                              <textarea class="form-control" ngbAutofocus placeholder="Enter Canonical URL"
                                formControlName="canonical_url" rows="3"></textarea>
                            </div>
                          </div>

                        </div>


                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="addData()" [disabled]="!form.valid"
              class="btn btn-primary">{{ModalBtn}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
              (click)="modal.dismiss('Cross click')">Close</button>
          </div>
        </ng-template>

      </div>
    </app-card>
  </div>
</div>