<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="timer"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="row">
  <div class="col-sm-12">
    <app-card
      [hidHeader]="false"
      cardTitle="Customer Complete Refund"
      cardClass="card-datatable"
      [options]="false"
      cardClass=" table-border-style user-profile-list "
    >
      <div class="row">
        <div class="col-12">
          <form [formGroup]="searchForm">
            <div class="row">

              <div class="col-md-2">
                <div class="from-group">
                  <label for="journey_dt" class="col-form-label"
                    >Journey Date</label
                  >
                  <input
                    type="date"
                    class="form-control sml_input"
                    formControlName="journey_dt"
                    (change)="search()"
                  />
                </div>
              </div>

              <div class="col-md-2">
                <div class="from-group">
                  <label for="updated_at" class="col-form-label"
                    >Cancel Date</label
                  >
                  <input
                    type="date"
                    class="form-control sml_input"
                    formControlName="updated_at"
                    (change)="search()"
                  />
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group">
                  <label for="name" class="col-form-label">Search PNR</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control sml_input"
                      placeholder="Search PNR"
                      required
                      formControlName="pnr"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-success sml_input"
                        (click)="search()"
                        title="search"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <label for="refresh_export" class="col-form-label col-sm-12"
                    >&nbsp;</label
                  >
                </div>
                <button
                  type="button"
                  class="btn btn-danger sml_input"
                  (click)="refresh()"
                  title="refresh"
                >
                  Refresh
                </button>
                <button
                  type="button"
                  (click)="exportexcel()"
                  class="btn btn-warning sml_input"
                  title="Export"
                >
                  Export
                </button>
                <button
                  type="button"
                  printSectionId="print-section"
                  ngxPrint
                  class="btn btn-info sml_input"
                  [useExistingCss]="true"
                  title="Print"
                >
                  Print
                </button>

                <div class="dropdown float-right">
                  <select
                    class="form-control sml_input"
                    formControlName="rows_number"
                    (change)="search()"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <!-- <option value='all'>All</option> -->
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Ticket Details</th>
              <th>Cancel Date</th>
              <th>Bus Details</th>
              <th>Seat No</th>
              <th>Fare Details</th>
              <th>User Details</th>
              <th>Refund Price</th>
              <th>Booked By</th>
              <th>Cancel By</th>
            </tr>
          </thead>

          <tbody *ngIf="cancelRefund?.length != 0">
            <tr *ngFor="let list of cancelRefund; let i = index">

              <td>{{ i + 1 }}</td>
              <td class="align-middle">
                <span *ngIf="list.app_type == 'WEB'">
                  <strong>(W)&nbsp;</strong>
                </span>
                <span *ngIf="list.app_type == 'MOB'">
                  <strong>(M)&nbsp;</strong>
                </span>
                <span *ngIf="list.app_type == 'ANDROID'">
                  <strong class="text-danger">(A)&nbsp;</strong>
                </span>
                <strong>{{ list.pnr }}</strong> ( DOB -
                {{ list.created_at | date: "dd-MMM-yyyy" }} )
                <span
                  *ngIf="list.origin == 'DOLPHIN' || list.origin == 'MANTIS'"
                  class="text-danger"
                  ><b>[ API pnr - {{ list.api_pnr }} ]</b></span
                >
                <br />
                <span> {{ list.source.name }} </span> - (
                <b>{{ list.boarding_point }}, {{ list.boarding_time }} </b> )
                <br />
                <strong style="color: brown" *ngIf="list.customer_payment">{{
                  list.customer_payment.order_id
                }}</strong>
                <br />
                <strong style="color: brown" *ngIf="list.customer_payment">{{
                  list.customer_payment.pp_orderId
                }}</strong>
                <br />
                <strong
                  style="color: darkgoldenrod"
                  *ngIf="list.customer_payment"
                  >{{ list.customer_payment.razorpay_id }}</strong
                >
              </td>
              <td>{{ list.updated_at | date: "dd-MMM-yyyy" }}</td>
              <td>
                <span
                  *ngIf="list.origin == 'DOLPHIN' || list.origin == 'MANTIS'"
                >
                  <strong>{{ list.bus_name }}</strong
                  ><br />
                  {{ list.bus_number }}
                </span>
                <span
                  *ngIf="list.origin != 'DOLPHIN' && list.origin != 'MANTIS'"
                >
                  <strong>{{ list.bus.name }}</strong
                  ><br />
                  {{ list.bus.bus_number }}
                </span>

                <br />

                <span>
                  <span>
                    {{ list.source.name }}
                  </span>
                  -
                  <span>
                    {{ list.destination.name }}
                  </span>
                </span>
                <br />
                <strong>DOJ</strong> -{{
                  list.journey_dt | date: "dd-MMM-yyyy"
                }}
              </td>

              <td class="align-middle">
                <div *ngIf="list.booking_detail?.length != 0">
                  <span
                    *ngFor="let seat of list.booking_detail; let last = last"
                  >
                    <span
                      *ngIf="
                        list.origin == 'DOLPHIN' || list.origin == 'MANTIS'
                      "
                    >
                      {{ seat.seat_name }}<span *ngIf="!last">, </span>
                    </span>
                    <span
                      *ngIf="
                        list.origin != 'DOLPHIN' && list.origin != 'MANTIS'
                      "
                    >
                      {{ seat.bus_seats.seats.seatText
                      }}<span *ngIf="!last">, </span>
                    </span>
                  </span>
                </div>
              </td>

              <td style="padding: 0">
                <!-- Total fare: {{ list.payable_amount + list.customer_gst_amount }} -->
                Total fare: {{ list.payable_amount }}
                <br />
                Deduction Percent:
                <b class="text-danger">{{ list.deduction_percent }} %</b><br />
                Refund Amount:
                <b class="text-danger">{{ list.refund_amount }}</b>
              </td>

              <td class="text-capitalize align-middle">
                <strong>
                  {{ list.users.name }}
                </strong>
                <br />

                <button
                  class="btn btn-sm btn-info text-light mr-3 ml-2 mt-2 hide_print"
                  placement="bottom"
                  ngbTooltip="Click to Copy Phone Number"
                  (click)="copyMessage(list.users.phone)"
                >
                  <i class="fas fa-mobile-alt"></i>
                </button>

                <button
                  class="btn btn-sm btn-danger text-light mt-2 hide_print"
                  placement="bottom"
                  ngbTooltip=" Click to Copy Email"
                  (click)="copyMessage(list.users.email)"
                >
                  <i class="far fa-envelope"></i>
                </button>
              </td>
              <td class="align-middle">
                <b
                  >{{ list.refund_amount }} <br />
                  <span *ngIf="list.user_id > 0" style="color: red">
                    <small
                      >Refund to
                      {{
                        list.user_id > 0 ? list.user.name : "Customer"
                      }}</small
                    >
                  </span>
                  <span
                    *ngIf="list.user_id == 0"
                    style="color: rgb(77, 189, 77)"
                  >
                    <small>Refunded to Customer</small></span
                  >
                </b>
              </td>
              <td class="align-middle">
                <b> {{ list.user_id > 0 ? list.user.name : "Customer" }} </b>
              </td>
              <td class="align-middle">
                <b>{{
                  list.cancel_by == null ? "Customer" : list.cancel_by
                }}</b>
              </td>
            </tr>
          </tbody>

          <tbody *ngIf="cancelRefund?.length == 0">
            <tr>
              <td colspan="10" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="pagination?.length != 0" class="hide_print container">
          <div class="row">
            <div class="col-6">
              <div class="col-12">
                <p class="row mt-3 ml-1">
                  Showing {{ all?.count }} of {{ all?.total }} records.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div
                class="d-flex flex-row-reverse mb-4 text-center"
                *ngIf="pagination?.links"
              >
                <nav class="my-1 pt-1">
                  <ul class="pagination pagination-circle pg-blue mb-0">
                    <li
                      (click)="search(pagination.first_page_url, statusLabel)"
                      class="page-item {{
                        pagination.current_page == 1 ? 'disabled' : ''
                      }} clearfix d-none d-md-block"
                    >
                      <a class="page-link">First</a>
                    </li>
                    <li
                      class="page-item"
                      *ngFor="let b of pagination.links; let i = index"
                    >
                      <a
                        class="page-link {{
                          pagination.current_page == b.label ? 'active' : ''
                        }}"
                        (click)="b.url ? search(b.url) : ''"
                        [innerHTML]="page(b.label)"
                      ></a>
                    </li>
                    <li
                      class="page-item {{
                        pagination.last_page == 1 ? 'disabled' : ''
                      }} clearfix d-none d-md-block"
                      (click)="search(pagination.last_page_url, statusLabel)"
                    >
                      <a class="page-link">Last</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive d-none" id="print-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Pnr No</th>
              <th>Bus Name</th>
              <th>Bus Number</th>
              <th>Source</th>
              <th>Destination</th>
              <th>Total Fare</th>
              <th>Deduction Percent</th>
              <th>Refund Amount</th>
              <th>Cancel Date</th>
              <th>Seat no</th>
              <th>Cancelled By</th>
              <th>Reason</th>
            </tr>
          </thead>
          <tbody *ngIf="cancelRefund?.length != 0">
            <tr *ngFor="let list of cancelRefund; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ list.pnr }}</td>
              <td>
                <span
                  *ngIf="list.origin != 'DOLPHIN' && list.origin != 'MANTIS'"
                >
                  {{ list.bus.name }}
                </span>
                <span
                  *ngIf="list.origin == 'DOLPHIN' || list.origin == 'MANTIS'"
                >
                  {{ list.bus_name }}
                </span>
              </td>
              <td>
                <span
                  *ngIf="list.origin != 'DOLPHIN' && list.origin != 'MANTIS'"
                >
                  {{ list.bus.bus_number }}
                </span>
                <span
                  *ngIf="list.origin == 'DOLPHIN' || list.origin == 'MANTIS'"
                >
                  {{ list.bus_number }}
                </span>
              </td>
              <td>
                {{ list.source.name }}
              </td>
              <td>
                {{ list.destination.name }}
              </td>
              <td>
                {{ list.payable_amount }}
              </td>
              <td>{{ list.deduction_percent }} %</td>
              <td>{{ list.refund_amount }}</td>

              <td>{{ list.updated_at | date: "dd/MM/yyyy" }}</td>
              <td>
                <span
                  *ngIf="list.origin != 'DOLPHIN' && list.origin != 'MANTIS'"
                >
                  <span *ngFor="let seat of list.booking_detail">
                    {{ seat.bus_seats.seats.seatText }},
                  </span>
                </span>
                <span
                  *ngIf="list.origin == 'DOLPHIN' || list.origin == 'MANTIS'"
                >
                  <span *ngFor="let seat of list.booking_detail">
                    {{ seat.seatName }},
                  </span>
                </span>
              </td>
              <td>{{ list.cancel_by }}</td>
              <td>{{ list.cancel_reason }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="cancelRefund?.length == 0">
            <tr>
              <td colspan="10" class="no-data-available">No data!</td>
            </tr>
          </tbody>

          <tbody></tbody>
        </table>
        <div *ngIf="pagination?.length != 0" class="hide_print container">
          <div class="row">
            <div class="col-6">
              <div class="col-12">
                <p class="row mt-3 ml-1">
                  Showing {{ all?.count }} of {{ all?.total }} records.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div
                class="d-flex flex-row-reverse mb-4 text-center"
                *ngIf="pagination?.links"
              >
                <nav class="my-1 pt-1">
                  <ul class="pagination pagination-circle pg-blue mb-0">
                    <li
                      (click)="search(pagination.first_page_url, statusLabel)"
                      class="page-item {{
                        pagination.current_page == 1 ? 'disabled' : ''
                      }} clearfix d-none d-md-block"
                    >
                      <a class="page-link">First</a>
                    </li>
                    <li
                      class="page-item"
                      *ngFor="let b of pagination.links; let i = index"
                    >
                      <a
                        class="page-link {{
                          pagination.current_page == b.label ? 'active' : ''
                        }}"
                        (click)="b.url ? search(b.url) : ''"
                        [innerHTML]="page(b.label)"
                      ></a>
                    </li>
                    <li
                      class="page-item {{
                        pagination.last_page == 1 ? 'disabled' : ''
                      }} clearfix d-none d-md-block"
                      (click)="search(pagination.last_page_url, statusLabel)"
                    >
                      <a class="page-link">Last</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-card-footer">
        <ng-template #content let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5">{{ ModalHeading }}</h5>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    <form
                      [formGroup]="cancelTicketForm"
                      class="editForm"
                      novalidate
                    >
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="input-group col-10 offset-1">
                              <input
                                type="text"
                                class="form-control sml_input"
                                placeholder="Enter Pnr No"
                                required
                                formControlName="pnr_no"
                              />
                              <div class="input-group-append">
                                <button
                                  type="button"
                                  [disabled]="
                                    !cancelTicketForm.controls['pnr_no'].valid
                                  "
                                  class="btn btn-primary sml_input"
                                  (click)="search_pnr()"
                                  title="search"
                                >
                                  <i class="fas fa-search"> </i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-10 offset-1">
                              <span
                                class="text-danger"
                                *ngIf="
                                  cancelTicketForm.controls['pnr_no'].touched &&
                                  cancelTicketForm.controls['pnr_no'].hasError(
                                    'required'
                                  )
                                "
                              >
                                Pnr required!
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="pnrDetails.length > 0">
                        <div class="col-md-4">
                          <h3>Cancel Details</h3>
                          <div class="from-group">
                            <label for="name" class="col-sm-6 col-form-label"
                              >% Deduction:<span class="text-danger"
                                >*</span
                              ></label
                            >
                            <div class="col-sm-12">
                              <input
                                type="text"
                                class="form-control"
                                ngbAutofocus
                                formControlName="percentage_deduct"
                                placeholder="Enter Percentage"
                                (change)="calculate(event)"
                                required
                              />
                              <span
                                class="text-danger"
                                *ngIf="
                                  cancelTicketForm.controls['percentage_deduct']
                                    .touched &&
                                  cancelTicketForm.controls[
                                    'percentage_deduct'
                                  ].hasError('required')
                                "
                              >
                                % Deduction is required!
                              </span>
                            </div>
                          </div>

                          <div class="from-group">
                            <label for="name" class="col-sm-10 col-form-label"
                              >Refund Amount (Rs.):<span class="text-danger"
                                >*</span
                              ></label
                            >
                            <div class="col-sm-12">
                              <input
                                type="text"
                                class="form-control"
                                ngbAutofocus
                                formControlName="refundAmount"
                                placeholder="Enter Refund Amount (Rs.)"
                                required
                                readonly
                              />
                            </div>
                          </div>

                          <div class="from-group">
                            <label for="name" class="col-sm-10 col-form-label"
                              >Reason:<span class="text-danger">*</span></label
                            >
                            <div class="col-sm-12">
                              <input
                                type="text"
                                class="form-control"
                                ngbAutofocus
                                formControlName="reason"
                                placeholder="Enter Reason Here"
                                required
                              />

                              <span
                                class="text-danger"
                                *ngIf="
                                  cancelTicketForm.controls['reason'].touched &&
                                  cancelTicketForm.controls['reason'].hasError(
                                    'required'
                                  )
                                "
                              >
                                Reason required!
                              </span>
                            </div>
                          </div>

                          <div class="form-group">
                            <label
                              for="opr_content"
                              class="col-sm-10 col-form-label"
                              ><strong
                                >Ticket Cancelled By Dolphin (Full
                                Refund)</strong
                              >
                            </label>
                            <div class="col-sm-7">
                              <div class="custom-control custom-switch">
                                <input
                                  type="checkbox"
                                  class="custom-control-input"
                                  id="full_refund"
                                  formControlName="full_refund"
                                />
                                <label
                                  class="custom-control-label"
                                  for="full_refund"
                                ></label>
                              </div>
                            </div>
                          </div>

                          <div class="col-8 offset-2 mt-3">
                            <button
                              type="button"
                              [disabled]="!cancelTicketForm.valid"
                              (click)="cancelTicket()"
                              class="btn btn-danger"
                              ngbAutofocus
                            >
                              {{ ModalBtn }}
                            </button>
                            <!--
                                                        <button type="button"
                                                            *ngIf="cancelTicketForm.controls.refundAmount.value!=null && cancelTicketForm.controls.reason.value!=null" (click)="OpenModal(cancelticket);previewCancelTicket()" class="btn btn-warning ml-2"
                                                            ngbAutofocus title="cancel ticket Preview">
                                                            <small> <i class="fa fa-eye" aria-hidden="true"></i></small>
                                                         </button> -->
                          </div>
                        </div>
                        <div class="col-md-8">
                          <h3 class="text-center">Booking Details</h3>
                          <table class="table">
                            <tr>
                              <td>
                                <table class="table-secondary">
                                  <strong>Passanger Details</strong>
                                  <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Seat no</th>
                                    <th>Age</th>
                                  </tr>
                                  <tr
                                    *ngFor="
                                      let passanger of pnrDetails[0]
                                        .booking_detail
                                    "
                                  >
                                    <td>{{ passanger.passenger_name }}</td>
                                    <td>{{ passanger.passenger_gender }}</td>
                                    <td>
                                      <span
                                        *ngIf="
                                          pnrDetails[0].origin != 'DOLPHIN'
                                        "
                                      >
                                        {{ passanger.bus_seats.seats.seatText }}
                                      </span>
                                      <span
                                        *ngIf="
                                          pnrDetails[0].origin == 'DOLPHIN'
                                        "
                                      >
                                        {{ passanger.seat_name }}
                                      </span>
                                    </td>
                                    <td>{{ passanger.passenger_age }}</td>
                                  </tr>
                                  <tr>
                                    <td>Total Fare</td>
                                    <td
                                      colspan="3"
                                      class="text-center text-danger"
                                    >
                                      <i class="fas fa-rupee-sign"></i>
                                      <b>{{ pnrDetails[0].payable_amount }}</b>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td>
                                <table>
                                  <tr>
                                    <td><small>From- To</small></td>
                                    <td>
                                      <strong
                                        >{{
                                          pnrDetails[0].from_location[0].name
                                        }}
                                        >>
                                        {{
                                          pnrDetails[0].to_location[0].name
                                        }}</strong
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td><small>D.O.B</small></td>
                                    <td>
                                      <strong class="text-danger">{{
                                        pnrDetails[0].created_at
                                          | date: "dd-MM-yyyy"
                                      }}</strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td><small>D.O.J</small></td>
                                    <td>
                                      <strong class="text-danger">{{
                                        pnrDetails[0].journey_dt
                                          | date: "dd-MM-yyyy"
                                      }}</strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td><small>Boarding At :</small></td>
                                    <td>
                                      <strong
                                        >{{ pnrDetails[0].boarding_point }},
                                        {{ pnrDetails[0].boarding_time }}
                                      </strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td><small>Bus :</small></td>
                                    <td>
                                      <span
                                        *ngIf="
                                          pnrDetails[0].origin != 'DOLPHIN'
                                        "
                                      >
                                        <strong>{{
                                          pnrDetails[0].bus.name
                                        }}</strong
                                        ><br />
                                        <strong>{{
                                          pnrDetails[0].bus.bus_number
                                        }}</strong>
                                      </span>
                                      <span
                                        *ngIf="
                                          pnrDetails[0].origin == 'DOLPHIN'
                                        "
                                      >
                                        <strong>{{
                                          pnrDetails[0].bus_name
                                        }}</strong
                                        ><br />
                                        <strong>{{
                                          pnrDetails[0].bus_bus_number
                                        }}</strong>
                                      </span>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="row" *ngIf="pnrDetails.length == 0">
                        <h4 class="text-center">{{ msg }}</h4>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              #defaultClick
              (click)="modal.dismiss('Cross click')"
            >
              Close
            </button>
          </div>
        </ng-template>

        <ng-template #cancelticket let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5">Cancellation Details</h5>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    <table class="table table-border">
                      <tr class="bg-warning">
                        <th colspan="2">Call Us: +91 9583918888</th>
                        <th colspan="2" class="text-right">
                          Email: support@odbus.in
                        </th>
                      </tr>
                      <tr>
                        <th>Preview Will be Here</th>
                        <!-- <table class="table-bordered">
                            <tr>
                                <td> PNR no :</td>
                                <td>{{pnrDetails[0].pnr}}</td>
                            </tr>
                            <tr>
                                <td>Email :</td>
                                <td> {{pnrDetails[0].users.email}}</td>
                            </tr>
                            <tr>
                                <td>Contact no :</td>
                                <td>{{pnrDetails[0].users.phone}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>

                        </table> -->
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              #defaultClick
              (click)="modal.dismiss('Cross click')"
            >
              Close
            </button>
          </div>
        </ng-template>
      </div>
    </app-card>
  </div>
</div>
