<div class="row">
  <div class="col-sm-12">
      <app-card [hidHeader]="false" cardTitle="Master Settings" cardClass="card-datatable" [options]="true"
      cardClass=" table-border-style user-profile-list " [isCardFooter]="true">
      <div class="row  mb-2">
        <div class="col-2">
          <div class="from-group ">
            <button class="btn sml_input btn-success mb-2 " (click)="ResetAttributes();OpenModal(content)">
              Add Settings
            </button>
          </div>
        </div>
        <div class="col-10">
          <form [formGroup]="searchForm" class="editForm" novalidate>
            <div class="row">
              <div class="from-group col-6">
                <input type="text" class="form-control sml_input" formControlName="name" placeholder="Search Here">
              </div>
              <div class="from-group col-4">

                <button type="button" class="btn btn-success  sml_input" (click)="getAll()" title="search">
                  <i class="fas fa-search"> </i> Search
                </button>
                <button type="button" class="btn btn-danger sml_input" (click)="refresh()" title="refresh">
                  <i class="fas fa-sync-alt"> </i> Refresh
                </button>
              </div>

              <div class="col-2">
                <div class="dropdown float-right">
                  <select class="form-control sml_input" formControlName="per_page" (change)="getAll()">
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                    <option value='all'>All</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Operator Name </th>
              <th scope="col">Operator Number/ Email </th>
              <th scope="col">Logo</th>
              <th scope="col">Status </th>
              <th scope="col">Created/Updated On</th>
              <th scope="col">Created By</th>
              <th width="100" class="hide_print">&nbsp; </th>
            </tr>
          </thead>
          <tbody *ngIf="settings?.length != 0">
            <tr *ngFor="let settingdata of settings; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{settingdata.bus_operator.operator_name}} </td>
              <td>{{settingdata.bus_operator.contact_number}}<br>{{settingdata.bus_operator.email_id}}</td>
              <!-- <td>
                <img class="sliderImage" [attr.src]="getImagepath(settingdata.logo)">
              </td> -->
              <td >
                <div *ngIf="settingdata.logo_image!='' && settingdata.logo_image!=null" >             
                  <img  src="{{path}}logo/{{settingdata.logo_image}}"  height="100px"/>
                </div>

                <div *ngIf="settingdata.logo_image=='' || settingdata.logo_image==null" >             
                  <img   class="sliderImage" src="https://icon-library.com/images/no-image-available-icon/no-image-available-icon-13.jpg"  height="100px"/>
                </div>       
              </td>         
              <td>
                <label *ngIf="settingdata.status==1" class="badge badge-light-primary pointer text-dark"
                  (click)="changeStatus($event, settingdata.id);">Active</label>
                <label *ngIf="settingdata.status==0" class="badge badge-light-danger pointer text-dark"
                  (click)="changeStatus($event, settingdata.id);">Pending</label>
              </td>
             
              <td>{{settingdata.updated_at | date: 'dd/MM/yyyy'}}</td>
              <td>{{settingdata.created_by}}</td>

              <td class="hide_print">
                <div class="overlay-edit">
                  <button type="button" (click)="ResetAttributes();editSettings(i);OpenModal(content)"
                    class="btn btn-icon btn-success"><i class="feather icon-edit"></i></button>
                  <button type="button" (click)="openConfirmDialog(confirmDialog, i)" class="btn btn-icon btn-danger"><i
                      class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="settings?.length == 0">
            <tr>
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="pagination?.length!= 0" class="hide_print container">
        <div class="row">
          <div class="col-6">
           
              <div class="col-12">
                <p class=" row mt-3 ml-1"> Showing {{all?.count}} of {{all?.total}} records. </p>
              </div> 
          </div>
          <div class="col-6">
            <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
              <nav class="my-1 pt-1 ">
                <ul class="pagination pagination-circle pg-blue mb-0 hide_print">
                  <li (click)="getAll(pagination.first_page_url,statusLabel)"
                    class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                    <a class="page-link">First</a>
                  </li>
                  <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                    <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                      (click)="(b.url) ? getAll(b.url,statusLabel) : ''" [innerHTML]="page(b.label)"></a>
                  </li>
                  <li class="page-item {{ pagination.next_page_url == null? 'disabled' : '' }} clearfix d-none d-md-block"
                    (click)="getAll(pagination.last_page_url,statusLabel)">
                    <a class="page-link">Last</a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>

        </div>
      </div> 
     
      <div class="app-card-footer">
        <ng-template #confirmDialog let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    Would you Like to Delete the Record
                    <form [formGroup]="formConfirm" class="editForm" novalidate>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
              (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </ng-template>
        <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
          (click)="ResetAttributes();OpenModal(content)">Add </button>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h5 class="ng-tns-c116-5">{{ModalHeading}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-material">
                  <div class="right-icon-control">
                    <form [formGroup]="settingForm" class="editForm" novalidate>
                      <div class="row">
                        <div class="col-md-6">

                          <div class="form-group row">
                            <label  class="col-sm-5 col-form-label"><strong>Operator</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <ng-select  [items]="operators" bindLabel="operator_name" bindValue="id"
                                    placeholder="Select Operator" formControlName="bus_operator_id" [clearable]="false">
                                  </ng-select>
                              <span class="text-danger"
                                *ngIf="settingForm.controls['bus_operator_id'].touched && settingForm.controls['bus_operator_id'].hasError('required')">
                                Bus Operator Name Required
                              </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="pay_chrg" class="col-sm-5 col-form-label"><strong> Payment Gateway Charges</strong><span
                              class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="pay_chrg" type="text" class="form-control" ngbAutofocus placeholder="Payment Gateway Charges" required
                                formControlName="payment_gateway_charges" />
                              <span class="text-danger"
                                *ngIf="settingForm.controls['payment_gateway_charges'].touched && settingForm.controls['payment_gateway_charges'].hasError('required')">
                                Payment Gateway Charges Required
                              </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="eml_chrg" class="col-sm-5 col-form-label"><strong>Email SMS charges</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="eml_chrg" type="text" class="form-control" ngbAutofocus placeholder="Email SMS Charges" required
                                formControlName="email_sms_charges" />
                              <span class="text-danger"
                                *ngIf="settingForm.controls['email_sms_charges'].touched && settingForm.controls['email_sms_charges'].hasError('required')">
                                Email SMS Charges Required
                              </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="gst" class="col-sm-5 col-form-label"><strong>GST Charges</strong><span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="gst" type="text" class="form-control" ngbAutofocus placeholder="GST charges" required
                              formControlName="odbus_gst_charges" />
                            <span class="text-danger"
                              *ngIf="settingForm.controls['odbus_gst_charges'].touched && settingForm.controls['odbus_gst_charges'].hasError('required')">
                              GST Charges Required
                            </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="s_eml" class="col-sm-5 col-form-label"><strong>Support email</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="s_eml" type="text" class="form-control" ngbAutofocus placeholder="support email" required
                              formControlName="support_email" />
                            <span class="text-danger"
                              *ngIf="settingForm.controls['support_email'].touched && settingForm.controls['support_email'].hasError('required')">
                              Support Email Required
                            </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="b_eml" class="col-sm-5 col-form-label"><strong>Booking email</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="b_eml" type="text" class="form-control" ngbAutofocus placeholder="Booking Email" required
                                formControlName="booking_email" />
                              <span class="text-danger"
                                *ngIf="settingForm.controls['booking_email'].touched && settingForm.controls['booking_email'].hasError('required')">
                                Booking Email Required
                              </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="r_eml" class="col-sm-5 col-form-label"><strong>Request email</strong> </label>
                            <div class="col-sm-7">
                              <input id="r_eml" type="text" class="form-control" ngbAutofocus placeholder="Request Email"
                                formControlName="request_email" />
                                <span class="text-danger"
                                *ngIf="settingForm.controls['request_email'].touched && settingForm.controls['request_email'].hasError('required')">
                                Request Email Required
                              </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="o_eml" class="col-sm-5 col-form-label"><strong>Other email</strong> </label>
                            <div class="col-sm-7">
                              <input id="o_eml" type="text" class="form-control" ngbAutofocus placeholder="Other Email"
                                 formControlName="other_email"/>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="opr_slogan" class="col-sm-5 col-form-label"><strong>Operator Slogan</strong> </label>
                            <div class="col-sm-7">
                              <input id="opr_slogan" type="text" class="form-control" ngbAutofocus placeholder="Operator Slogan"
                                 formControlName="operator_slogan"/>
                            </div>
                          </div> 
                          
                          <div class="form-group row">
                            <label for="opr_content" class="col-sm-5 col-form-label"><strong>Home Content</strong> </label>
                            <div class="col-sm-7">
                              <!-- <input id="opr_content" type="text" class="form-control" ngbAutofocus placeholder="operator home content"
                                 formControlName="operator_home_content"/> -->
                                 <textarea id="opr_content" class="form-control" ngbAutofocus placeholder="Home Page Content" formControlName="operator_home_content"></textarea>
                            </div>
                          </div>

                        </div>

                        <div class="col-md-6">

                          <div class="form-group row">
                            <label for="adv" class="col-sm-5 col-form-label"><strong>Advance days show</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="adv" type="text" class="form-control" ngbAutofocus placeholder="Advance Days Show" required
                              formControlName="advance_days_show" />
                            <span class="text-danger"
                              *ngIf="settingForm.controls['advance_days_show'].touched && settingForm.controls['advance_days_show'].hasError('required')">
                              Advance Days Show Required
                            </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="mob_1" class="col-sm-5 col-form-label"><strong>Mobile no:1 </strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="mob_1" type="text" class="form-control" ngbAutofocus placeholder="Mobile No:1" required
                                formControlName="mobile_no_1" />
                                <span class="text-danger"
                              *ngIf="settingForm.controls['mobile_no_1'].touched && settingForm.controls['mobile_no_1'].hasError('required')">
                              Mobile No:1 Required
                            </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="mob_2" class="col-sm-5 col-form-label"><strong>Mobile no:2</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <input id="mob_2" type="text" class="form-control" ngbAutofocus placeholder="Mobile No:2"
                                required formControlName="mobile_no_2"/>
                                <span class="text-danger"
                              *ngIf="settingForm.controls['mobile_no_2'].touched && settingForm.controls['mobile_no_2'].hasError('required')">
                              Mobile No:2 required
                            </span>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="mob_3" class="col-sm-5 col-form-label"><strong> Mobile no:3</strong></label>
                            <div class="col-sm-7">
                              <input id="mob_3" type="text" class="form-control" ngbAutofocus placeholder="Mobile No:3"
                                formControlName="mobile_no_3"  required/>
                                <span class="text-danger"
                                *ngIf="settingForm.controls['mobile_no_3'].touched && settingForm.controls['mobile_no_3'].hasError('required')">
                                Mobile No:3 required
                              </span>
                            </div>                            
                          </div>

                          <div class="form-group row">
                            <label for="mob_4" class="col-sm-5 col-form-label"><strong>Mobile no:4</strong></label>
                            <div class="col-sm-7">
                              <input id="mob_4" type="text" class="form-control" ngbAutofocus placeholder="Mobile No:4"
                                formControlName="mobile_no_4" />
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="logo" class="col-sm-5 col-form-label"><strong>Logo</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <div>
                                <input  type="file" #file accept='image/*' (change)="picked($event,file.files);"
                                  class="form-control" id="logo" placeholder="Drop logo image here"
                                  formControlName="logo" />
                              </div>
                              <span class="text-info">Max file size 100Kb</span><br>
                              <span class="text-danger">{{imageError}}</span>
                              <span class="text-danger"
                                *ngIf="settingForm.controls['logo'].touched && settingForm.controls['logo'].hasError('required')">
                                Image file is required! </span>
                             

                              <div class="col-12">
                                <div class="row">
                                  <div class="col-md-6" *ngIf="settingRecord.logo_image">
                                    <span><b>Existing Image</b></span> <br>                       
                                    <img    class="sliderImage" src="{{path}}logo/{{settingRecord.logo_image}}" height="70"/>
    
                                  </div>
                                  <div class="col-md-6" *ngIf="imgURL">
                                    <span ><b>New image</b></span><br>
                                    <img id="sliderImgPreview" class="sliderImage-edit"
                                    [attr.src]="getImagepath(settingForm.value['iconSrc'])" height="70">
    
                                  </div>
                                </div>
                              </div>        
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="favIcon" class="col-sm-5 col-form-label"><strong>Fav Icon</strong> <span
                                class="text-danger">*</span></label>
                            <div class="col-sm-7">
                              <div>
                                <!-- <input  type="file" #file accept='image/*' (change)="pickedfav($event,file.files);"
                                  class="form-control" id="favIcon" placeholder="Drop favIcon image here"
                                  formControlName="favIcon" /> -->

                                  <input  type="file" accept='image/*' (change)="pickedfav($event);"
                                  class="form-control" id="favIcon" placeholder="Drop favIcon image here"
                                  formControlName="favIcon" />

                              </div>
                              <span class="text-info">Max file size 100Kb</span><br>
                              <span class="text-danger">{{favError}}</span>
                              <span class="text-danger"
                                *ngIf="settingForm.controls['favIcon'].touched && settingForm.controls['favIcon'].hasError('required')">
                                Image file is required! </span>

                                <div class="col-12">
                                  <div class="row">
                                    <div class="col-md-6" *ngIf="settingRecord.favicon_image">
                                      <span><b>Existing Image</b></span> <br>                       
                                      <img  src="{{path}}favIcon/{{settingRecord.favicon_image}}" height="70"/>
      
                                    </div>
                                    <div class="col-md-6" *ngIf="favURL">
                                      <span ><b>New image</b></span><br>
                                      <img  class="sliderImage-edit"
                                       [attr.src]="getImagepath(settingForm.value['favSrc'])" height="70">
      
                                    </div>
                                  </div>
                                </div>                             
                            </div>
                          </div>

                        


                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="addSettings()" [disabled]="!settingForm.valid || !imageSizeFlag"
              class="btn btn-primary">{{ModalBtn}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
              (click)="modal.dismiss('Cross click')">Close</button>
          </div>
        </ng-template>
      </div>
    </app-card>
  </div>
</div>