::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}
::ng-deep tr.odd
{
    display: none;
}
::ng-deep tr.even
{
    display: none;
}

@media print {
    ::ng-deep .hide_print {
      display: none !important;
    }
  }