<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<style>
    .scroll-box {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 5px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Manage Board-Dropping" cardClass="card-datatable" [options]="false" [isCardFooter]="false">

            <div class="mb-3">
                <form *ngIf="searchFrom" [formGroup]="searchFrom">
                    <div class="row align-items-center">
                        <div class="col-md-3" *ngIf="role == '1'">
                            <div>
                                <!-- <label>&nbsp; </label> -->
                                <ng-select [items]="routesData" bindLabel="route_name" bindValue="id"
                                    placeholder="Select Routes" formControlName="route_id" [clearable]="false">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-success w-100" (click)="search()">
                                Search
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger w-100" (click)="refresh()">
                                Refresh
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <form [formGroup]="updateFrom">
                <table class="table table-bordered align-middle" *ngIf="Data?.dropping?.points?.length >0">

                    <thead class="table-light">
                        <tr>
                            <th>{{ Data?.boarding?.name }}</th>
                            <th>{{ Data?.dropping?.name }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>

                            <!-- BOARDING SIDE -->
                            <td>
                                <div class="scroll-box">
                                    <div *ngFor="let b of Data?.boarding?.points">
                                        <label class="d-flex align-items-center gap-2">
                                            <input class="mr-2" type="checkbox" [(ngModel)]="b.checked"
                                                [ngModelOptions]="{standalone: true}">
                                            {{ b.boarding_point }}
                                        </label>
                                    </div>
                                </div>
                            </td>

                            <!-- DROPPING SIDE -->
                            <td>
                                <div class="scroll-box">
                                    <div *ngFor="let d of Data?.dropping?.points">
                                        <label class="d-flex align-items-center gap-2">
                                            <input class="mr-2" type="checkbox" [(ngModel)]="d.checked"
                                                [ngModelOptions]="{standalone: true}">
                                            {{ d.boarding_point }}
                                        </label>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <div class="row" *ngIf="Data?.dropping?.points?.length >0">
                    <div class="from-group col-md-6">
                        <label for="name" class="col-sm-12 col-form-label">Breadcrumb schema :<span
                                class="text-danger">*</span></label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" ngbAutofocus placeholder="Breadcrumb Schema"
                                required formControlName="breadcrumb_schema" cols="50" rows="25"></textarea>
                            <!-- <span class="text-danger"
                                *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                                Name is Required
                            </span> -->
                        </div>
                    </div>
                    <div class="from-group col-md-6">
                        <label for="name" class="col-sm-12 col-form-label">Faq schema :<span
                                class="text-danger">*</span></label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" ngbAutofocus placeholder="Faq Schema" required
                                formControlName="faq_schema" cols="50" rows="25"></textarea>
                            <!-- <span class="text-danger"
                                *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                                Name is Required
                            </span> -->
                        </div>
                    </div>
                </div>

                <!-- SAVE BUTTON -->
                <div class="mt-3 text-center" *ngIf="Data?.dropping?.points?.length >0">
                    <button class="btn btn-primary" (click)="saveAll()">
                        Update All
                    </button>
                </div>
            </form>
        </app-card>

    </div>
</div>