::ng-deep .removebtn
{
    margin-top: 8px;
    float: left;
}
::ng-deep .addbtn
{
    float: left;
}
::ng-deep .dt-buttons {
    margin-left: 20px;
}
::ng-deep body{
    padding: 0px;
    margin: 0px;
}