<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Form Validation">
      <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label" for="email">Email</label>
                <input class="form-control input-md" id="email" name="email" type="text" placeholder="Enter Email" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}" #email="ngModel" required email [(ngModel)]="formInput.email">
                <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid email address.</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="validation-password" placeholder="Enter Password" [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}" #password="ngModel" minlength="6" required [(ngModel)]="formInput.password">
                <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid password.</label>
              </div>
            </div>
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label class="form-label">Confirm password</label>-->
<!--                <input type="password" class="form-control" name="validation-password-confirm" placeholder="Enter Confirm Password" [ngClass]="{'is-invalid': !confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched || isSubmit)}" #confirmPassword="ngModel" [equalTo]="password" [(ngModel)]="formInput.confirmPassword">-->
<!--                <label *ngIf="!confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched || isSubmit)" id="validation-password-confirm-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid confirm  password.</label>-->
<!--              </div>-->
<!--            </div>-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Required</label>
                <input type="text" class="form-control" name="validation-required" placeholder="Enter Value" [ngClass]="{'is-invalid': !requiredInput.valid && (requiredInput.dirty || requiredInput.touched || isSubmit)}" #requiredInput="ngModel" required [(ngModel)]="formInput.requiredInput">
                <label *ngIf="!requiredInput.valid && (requiredInput.dirty || requiredInput.touched || isSubmit)" id="validation-required-error" class="error jquery-validation-error small form-text invalid-feedback">This field should be required</label>
              </div>
            </div>
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label class="form-label">URL</label>-->
<!--                <input type="text" class="form-control" name="validation-url" placeholder="Enter Value" [ngClass]="{'is-invalid': !url.valid && (url.dirty || url.touched || isSubmit)}" #url="ngModel" required url [(ngModel)]="formInput.url">-->
<!--                <label *ngIf="!url.valid && (url.dirty || url.touched || isSubmit)" id="validation-url-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter valid URL.</label>-->
<!--              </div>-->
<!--            </div>-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" name="validation-phone" placeholder="Enter Contact Number" [ngClass]="{'is-invalid': !phone.valid && (phone.dirty || phone.touched || isSubmit)}" #phone="ngModel" required maxlength="12" minlength="10" phone="IN" [(ngModel)]="formInput.phone">
                <label *ngIf="!phone.valid && (phone.dirty || phone.touched || isSubmit)" id="validation-phone-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter valid contact number.</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Select</label>
                <select class="form-control" name="validation-cmbGear" [ngClass]="{'is-invalid': !cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)}" #cmbGear="ngModel" required [(ngModel)]="formInput.cmbGear">
                  <option value>Select gear...</option>
                  <optgroup label="Climbing">
                    <option value="pitons">Pitons</option>
                    <option value="cams">Cams</option>
                    <option value="nuts">Nuts</option>
                    <option value="bolts">Bolts</option>
                    <option value="stoppers">Stoppers</option>
                    <option value="sling">Sling</option>
                  </optgroup>
                  <optgroup label="Skiing">
                    <option value="skis">Skis</option>
                    <option value="skins">Skins</option>
                    <option value="poles">Poles</option>
                  </optgroup>
                </select>
                <label *ngIf="!cmbGear.valid && (cmbGear.dirty || cmbGear.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">The Gear selection should be required.</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Address</label>
                <textarea class="form-control" name="validation-address" [ngClass]="{'is-invalid': !address.valid && (address.dirty || address.touched || isSubmit)}" #address="ngModel" required [(ngModel)]="formInput.address"></textarea>
                <label *ngIf="!address.valid && (address.dirty || address.touched || isSubmit)" id="validation-address-error" class="error jquery-validation-error small form-text invalid-feedback">The address field should be required.</label>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="save(validationForm)"> Next <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
          </div>
      </form>

      <div class="row">
        <div class="col-sm-12 col-xl-6">
          <h5 class="sub-title">Multiple Select With Icon</h5><hr/>
          <ng-select [ngClass]="'ng-select'" [options]="countries" [multiple]="true" [allowClear]="true" [(ngModel)]="selectedCountries">
            <ng-template #optionTemplate let-option="option">
              <div class="famfamfam-flags {{option?.value.toLowerCase()}}"></div>
              {{option?.label}}
            </ng-template>
          </ng-select>
        </div>
      </div>

    </app-card>
  </div>
</div>


<div class="col-xl-12">
  <app-card cardTitle="Striped Table" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>


<div class="col-xl-12">
  <app-card cardTitle="Hover Table" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>

<div class="col-sm-12">
  <app-card cardTitle="Extra Small Table">
    <div class="table-responsive">
      <table class="table table-xs">
        <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>



<div class="col-xl-12">
  <app-card cardTitle="Border Bottom Color" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr class="border-bottom-danger">
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-bottom-primary">
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr class="border-bottom-warning">
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>

<div class="col-xl-12">
  <app-card cardTitle="Table with Images" cardClass="table-card" blockClass="p-0">
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
        <tr>
          <th>
            <div class="chk-option">
              <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </div>
            Assigned
          </th>
          <th>Name</th>
          <th>Due Date</th>
          <th class="text-right">Priority</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="chk-option">
              <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </div>
            <div class="d-inline-block align-middle">
              <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
              <div class="d-inline-block">
                <h6>Anup</h6>
                <p class="text-muted m-b-0">Graphics Designer</p>
              </div>
            </div>
          </td>
          <td>seofied</td>
          <td>Jun, 26</td>
          <td class="text-right"><label class="badge badge-light-danger">Low</label></td>
        </tr>
        <tr>
          <td>
            <div class="chk-option">
              <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </div>
            <div class="d-inline-block align-middle">
              <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
              <div class="d-inline-block">
                <h6>Jenifer Vintage</h6>
                <p class="text-muted m-b-0">Web Designer</p>
              </div>
            </div>
          </td>
          <td>Mashable</td>
          <td>March, 31</td>
          <td class="text-right"><label class="badge badge-light-primary">high</label></td>
        </tr>
        <tr>
          <td>
            <div class="chk-option">
              <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </div>
            <div class="d-inline-block align-middle">
              <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
              <div class="d-inline-block">
                <h6>William Jem</h6>
                <p class="text-muted m-b-0">Developer</p>
              </div>
            </div>
          </td>
          <td>seofied</td>
          <td>Aug, 02</td>
          <td class="text-right"><label class="badge badge-light-success">medium</label></td>
        </tr>
        <tr>
          <td>
            <div class="chk-option">
              <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
              </label>
            </div>
            <div class="d-inline-block align-middle">
              <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
              <div class="d-inline-block">
                <h6>David Jones</h6>
                <p class="text-muted m-b-0">Developer</p>
              </div>
            </div>
          </td>
          <td>Guruable</td>
          <td>Sep, 22</td>
          <td class="text-right"><label class="badge badge-light-primary">high</label></td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>


<div class="col-xl-12">
  <app-card cardTitle="Table with Image and Actions" cardClass="table-card latest-activity-card" blockClass="p-0">
    <div class="table-responsive">
      <table class="table table-hover table-borderless mb-0">
        <thead>
        <tr>
          <th>Customer</th>
          <th>Order ID</th>
          <th>Photo</th>
          <th>Product</th>
          <th>Qty</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>John Deo</td>
          <td>#814123</td>
          <td><img src="assets/images/widget/PHONE1.jpg" alt="" class="img-fluid"></td>
          <td>Moto G5</td>
          <td>10</td>
          <td>17-2-2019</td>
          <td><label class="badge badge-light-warning">Pending</label></td>
          <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
        </tr>
        <tr>
          <td>Jenny William</td>
          <td>#684898</td>
          <td><img src="assets/images/widget/PHONE2.jpg" alt="" class="img-fluid"></td>
          <td>iPhone 8</td>
          <td>16</td>
          <td>20-2-2019</td>
          <td><label class="badge badge-light-primary">Paid</label></td>
          <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
        </tr>
        <tr>
          <td>Lori Moore</td>
          <td>#454898</td>
          <td><img src="assets/images/widget/PHONE3.jpg" alt="" class="img-fluid"></td>
          <td>Redmi 4</td>
          <td>20</td>
          <td>17-2-2019</td>
          <td><label class="badge badge-light-success">Success</label></td>
          <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>


<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Sample Tables">

      

    </app-card>
  </div>
</div>
