<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Failled Adjust Ticket" cardClass="card-datatable" [options]="false"
            [isCardFooter]="false">

            <div class=" mb-3">
                <div class="row p-0">
                    <div class="col-12">
                        <form [formGroup]="searchFrom">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <ng-select [items]="busoperators" bindLabel="operatorData" bindValue="id"
                                                placeholder="Select Operator" formControlName="bus_operator_id"
                                                [clearable]="false">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-5">
                                    <div class="row">  
                                        <div class=" col-6">
                                            <div class="form-group ">
                                                <input type="date" class="form-control sml_input" placeholder="Enter pnr"
                                                required formControlName="rangeFromDate" />
                                            </div> 
                                        </div>
                                        <div class=" col-6">
                                            <div class="form-group ">
                                                <input type="date" class="form-control sml_input" placeholder="Enter pnr"
                                                required formControlName="rangeToDate" />
                                            </div>                                            
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-3">

                                    <div class="dropdown">
                                        <select class="form-control sml_input" formControlName="date_type">
                                            <option value='booking'>Booking Date</option>
                                            <option value='journey'>Journey Date</option>
                                        </select>
                                    </div>

                                </div> -->

                                <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control sml_input" placeholder="PNR Number"
                                                required formControlName="pnr" />
                                        </div>
                                </div>

                                <!-- <div class="col-md-5 p-0">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group ">
                                                <div class="col-sm-12">
                                                    <ng-select [items]="locations" bindLabel="name" bindValue="id"
                                                        placeholder="Select Source" formControlName="source_id"
                                                        [clearable]="false" (change)="findSource($event)">
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <ng-select [items]="locations" bindLabel="name" bindValue="id"
                                                        placeholder="Select Destination"
                                                        formControlName="destination_id" [clearable]="false"
                                                        (change)="findSource($event)">
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
           -->
                                <div class="col-md-6 ">
                                    <button type="button" class="btn btn-success  sml_input" (click)="search()"
                                        title="search">
                                        Search
                                    </button>
                                    <button type="button" class="btn btn-danger sml_input" (click)="refresh()"
                                        title="refresh">
                                        Refresh
                                    </button>
                                    <button type="button" (click)="exportexcel()" class="btn btn-warning  sml_input"
                                        title="Export">
                                        Export
                                    </button>
                                    <button type="button" printSectionId="print-section" ngxPrint
                                        class="btn btn-info sml_input" [useExistingCss]="true" title="Print">
                                        Print
                                    </button>

                                    <div class="dropdown float-right">
                                        <select class="form-control sml_input" formControlName="rows_number"
                                            (change)=search()>
                                            <option value=10>10</option>
                                            <option value=25>25</option>
                                            <option value=50>50</option>
                                            <option value=100>100</option>
                                            <!-- <option value='all'>All</option> -->
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="table-responsive" id="print-section">
                <div class=" tableFixHead">.
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Pnr Details</th>
                                <th>Razor pay Data</th>
                                <th scope="col">BusName/No </th>
                                <th scope="col">Seat Booked</th>
                                <th scope="col">Src -> Dest</th>
                                <th scope="col">Journey Date</th>
                                <th scope="col">Closing Time</th>
                                <th scope="col">Update</th>
                               
    
                            </tr>
                        </thead>
                        <tbody *ngIf="completedata?.length != 0">
                            <tr *ngFor="let complete of completedata?.data.data; let i = index">                               
                                <td>{{ i+1 }}</td>
                                <td>                                
                                    <span *ngIf="complete.app_type == 'WEB'">
                                        <strong>(W)&nbsp;</strong>
                                    </span>
                                    <span *ngIf="complete.app_type == 'MOB'">
                                        <strong>(M)&nbsp;</strong>
                                    </span>
                                    <span *ngIf="complete.app_type == 'ANDROID'">
                                        <strong class="text-danger">(A)&nbsp;</strong>
                                    </span>
                                    <strong>{{complete.pnr}}</strong> (DOB - {{complete.created_at | date:
                                    'dd-MM-yyyy | h:mm:ss'}} )

                                    <br>
                                    <span *ngFor="let frlocation of complete.from_location">
                                        {{frlocation.name}}
                                    </span> -
                                    ( <b>{{complete.boarding_point}}, {{complete.boarding_time }} </b> )
                                </td>
                                
                                <td>
                                    <span *ngIf="complete.customer_payment_data!=null">
                                        <span *ngIf="complete.origin != 'DOLPHIN' && complete.origin != 'MANTIS' ">
                                            <strong  style="color: darkgoldenrod;" *ngIf ="complete.razerPayPaymentId">
                                                {{complete.razerPayPaymentId}}
                                            </strong>
                                            <br>
                                            <strong style="color: brown;" >
                                                {{complete.customer_payment_data.order_id}}
                                            </strong>                                    
                                            <!-- <button class="btn btn-success btn-sm" (click)="OpenGenerateTicket(i,GenerateTicket);" >GENERATE TICKET</button> -->
                                        </span>
                                        <span *ngIf="complete.origin == 'DOLPHIN' || complete.origin == 'MANTIS' ">                      
                                            <button class="btn btn-danger btn-sm" >{{complete.origin}} API TICKET</button><br>
                                            <strong>[  {{complete.api_pnr}}]</strong>
                                        </span>
                                    </span>                                   
                                </td>                          
                                <td>
                                    <span *ngIf="complete.origin != 'DOLPHIN' && complete.origin != 'MANTIS' ">
                                        <strong>{{ complete.bus.name }}</strong><br>
                                                {{ complete.bus.bus_number }}
                                    </span>

                                    <span *ngIf="complete.origin == 'DOLPHIN' || complete.origin == 'MANTIS' ">
                                        <strong>{{ complete.bus_name }}</strong><br>
                                                {{ complete.bus_number }}
                                    </span>                                   
                                </td>    
                                <td>
                                    <div *ngIf="complete.booking_detail?.length != 0">
                                        <span *ngIf="complete.origin != 'DOLPHIN' && complete.origin != 'MANTIS' ">
                                            <ul>
                                                <li *ngFor="let seat of complete.booking_detail;">    
                                                    {{seat.bus_seats.seats.seatText}}
                                                </li>
                                            </ul>
                                        </span>
                                        <span *ngIf="complete.origin == 'DOLPHIN' || complete.origin == 'MANTIS' ">
                                            <ul>
                                                <li *ngFor="let seat of complete.booking_detail;">    
                                                    {{seat.seat_name}}
                                                </li>
                                            </ul>
                                        </span>
                                       
                                    </div>
                                </td>
                                <td class="text-capitalize">
                                    <span *ngIf="complete.origin != 'DOLPHIN' && complete.origin != 'MANTIS' ">
                                        <ng-template #tipContent1>
                                            <table style="width: 350px;">
                                                <tr>
                                                    <td style="text-align: left;">
                                                        Start
                                                    </td>
                                                    <td style="text-align: left;">
                                                        End
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left;">

                                                        <span *ngFor="let frlocation of complete.source">
                                                            {{frlocation[0].name}}<br />
                                                        </span>
                                                    </td>
                                                    <td style="text-align: left;">
                                                        <span *ngFor="let tolocation of complete.destination">
                                                            {{tolocation[0].name}} <br />
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </ng-template>
                                    </span>

                                    <span [ngbTooltip]="tipContent1">
                                        <span *ngFor="let boarding of complete.from_location;">
                                            {{boarding.name}}
                                        </span> -
                                        <span *ngFor="let dropping of complete.to_location;">
                                            {{dropping.name}}
                                        </span>
                                    </span> 
                                </td>
                                <td>
                                    <div *ngIf="complete.booking_detail?.length != 0">
                                        {{complete.journey_dt | date: 'dd-MM-yyyy'}}                                      
                                    </div>    
                                </td>
                                <td>
                                    <span *ngIf="complete.origin != 'DOLPHIN' && complete.origin != 'MANTIS' ">
                                        {{ complete.booking_detail[0].bus_seats.ticket_price.actual_time}}
                                    </span>
                                </td> 
                                <td><button class="btn btn-sm btn-warning" (click)="active_status(complete.id)"> Active </button></td>                               
                            </tr>
                        </tbody>
    
                        <tbody *ngIf="completedata?.length == 0">
                            <tr>
                              <td colspan="11" class="no-data-available">No data!</td>
                            </tr>
                        <tbody>
                    </table>
                </div>              

                <div *ngIf="completedata?.length != 0" class="hide_print container">
                    <div class="row">
                      <div class="col-6">
                       
                          <div class="col-12">
                            <p class=" row mt-3 ml-1"> Showing {{completedata?.count}} of {{completedata?.total}} records. </p>
                          </div> 
                      </div>
                      <div class="col-6">
                        <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="completedata?.data.links">
                            <nav class="my-1 pt-1 ">
                                <ul class="pagination pagination-circle pg-blue mb-0">
                                    <li (click)="search(completedata.data.first_page_url,statusLabel)"
                                        class="page-item {{ completedata.data.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                                        <a class="page-link">First</a>
                                    </li>
                                    <li class="page-item " *ngFor="let b of completedata.data.links ; let i = index ">
                                        <a class="page-link {{ completedata.data.current_page == b.label ? 'active' : '' }}"
                                            (click)="(b.url) ? search(b.url) : ''" [innerHTML]="page(b.label)"></a>
                                    </li>
                                    <li class="page-item {{ completedata.data.next_page_url == null? 'disabled' : '' }} clearfix d-none d-md-block"
                                        (click)="search(completedata.data.last_page_url,statusLabel)">
                                        <a class="page-link">Last</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>            
                      </div>            
                    </div>
                  </div>                
            </div>
        </app-card>

    </div>
</div>