input[type="radio"]:checked
{
    color: #fff !important;
    background-color: #007f8e !important;
    border-color: #007381 !important;   
}

.card-body22 {
    padding: 12.5px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 500px;
}

/* Overlay */
.chart-loader {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


.passenger-scroll {
  height: 540px;
  overflow-y: auto;
}

/* sticky header */
.passenger-scroll thead th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}


/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
