
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="row">
    <div class="col-sm-12">
      <app-card [hidHeader]="false" cardTitle="Our Agent " cardClass="card-datatable" [options]="false"
        cardClass=" table-border-style user-profile-list " [isCardFooter]="false">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="searchForm">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group ">            
                    <div class="dropdown">
                
                        <select class="form-control sml_input" formControlName="status">
                          <option value='1'>Active</option>
                          <option value='3'>Block</option>
                        </select>
                                      
                  </div>              
                  </div>              
                </div>  
                <div class="col-md-6">
                  <div class="form-group row">
  
                    <div class="col-sm-12">
                      <div class="input-group">
                        <input type="text" class="form-control sml_input" placeholder="Search Here " required
                          formControlName="name" (keyup.enter)="search()">
                        <div class="input-group-append">
                          <button type="button" class="btn btn-success  sml_input" (click)="search()" title="search">
                            <i class="fas fa-search"> </i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-md-4">
                  <button type="button" class="btn btn-danger sml_input" (click)="refresh()" title="refresh">
                    <i class="fas fa-sync-alt"> </i> Refresh
                  </button>
                  <div class="dropdown float-right">
                    <select class="form-control sml_input" formControlName="rows_number" (change)=search()>
                      <option value=10>10</option>
                      <option value=25>25</option>
                      <option value=50>50</option>
                      <option value=100>100</option>
                      <!-- <option value='all'>All</option> -->
                    </select>
                  </div>
                </div>          

              </div>
            </form>
  
  
          </div>
  
        </div>
  
        <div class="table-responsive" id="print-section">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>SL</th>
                <th>Agent ID</th>
                <th>Name/Email/Location</th>
                <th>Address</th>
                <th>Bank Details</th>
                <th scope="col">Created/Updated On</th>
                <th scope="col">Created By</th>
                <th scope="col">Status</th> 
                <th scope="col">Reason</th> 
                <th width="100" class="hide_print" >&nbsp; </th>
              </tr>
            </thead>
            <tbody *ngIf="agents?.length != 0">
              <tr *ngFor="let agent of agents; let i=index;">
                <td>{{ i+1}}</td>
                <td>{{ agent.unique_id}}</td>
                <td>{{ agent.name }} <br> <strong>{{ agent.email }} <br> {{ agent.phone }}</strong><br>{{agent.location}}</td>
                <td> 
                  <span title="orgination" *ngIf="agent.organization_name!=null">{{agent.organization_name  }}</span> <br>  
                   <span title="address" *ngIf="agent.address!=null">{{agent.address}}</span> <br> 
                 <span title="landmark" *ngIf="agent.landmark!=null">{{agent.landmark}}</span>
                </td>
                <td>
                  <span *ngIf='agent.bank_name!=null'>
                    <strong *ngIf="agent.bank_name!=null">Bank Name - </strong>{{agent.bank_name }}<br>
                    <strong *ngIf="agent.bank_account_no!=null">A/c No. </strong>{{ agent.bank_account_no }} <br>
                    <strong *ngIf="agent.branch_name!=null"> Branch -</strong> {{agent.branch_name}}<br>
                    <strong *ngIf="agent.ifsc_code!=null">IFSC Code. </strong> {{ agent.ifsc_code }} 
                  </span> 
                </td>
                <td>{{ agent.updated_at| date: 'dd/MM/yyyy' }}</td>
                <td>{{ agent.created_by }}</td>
                <td>
                  <div >
                    <label *ngIf="agent.status==1" class="badge bg-primary pointer text-white"
                     (click)="ResetAttributes();openConfirmDialog(confirmDialog, agent.id)">Active</label>
                    <label *ngIf="agent.status==3" class="badge bg-danger pointer text-white"
                    (click)="ResetAttributes();changeStatus($event, agent.id);">Block</label>
                 
                  </div>
                </td>
                <td>
                  <span title="orgination" *ngIf="agent.reason!=null">{{agent.reason  }}</span> 
                </td>
               
                <td class="hide_print">
                  <div class="overlay-edit">
                      <button type="button" (click)="editAgent($event, i); OpenModal(content);"
                          class="btn btn-icon btn-success"><i class="feather icon-edit"></i></button>
                  </div>
              </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="pagination?.length!= 0" class="hide_print container">
            <div class="row">
              <div class="col-6">
               
                  <div class="col-12">
                    <p class=" row mt-3 ml-1"> Showing {{all?.count}} of {{all?.total}} records. </p>
                  </div> 
              </div>
              <div class="col-6">
                <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
                  <nav class="my-1 pt-1 ">
                    <ul class="pagination pagination-circle pg-blue mb-0">
                      <li (click)="search(pagination.first_page_url,statusLabel)"
                        class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                        <a class="page-link">First</a>
                      </li>
                      <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                        <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                          (click)="(b.url) ? search(b.url) : ''" [innerHTML]="page(b.label)"></a>
                      </li>
                      <li class="page-item {{ pagination.next_page_url == null? 'disabled' : '' }} clearfix d-none d-md-block"
                        (click)="search(pagination.last_page_url,statusLabel)">
                        <a class="page-link">Last</a>
                      </li>
                    </ul>
                  </nav>
                </div>
    
              </div>
    
            </div>
          </div>  
  
        </div>
  
  
        <div class="app-card-footer">
            <ng-template #confirmDialog let-modal>
                <div class="modal-header">
                  <h5 class="ng-tns-c116-5"> Would you Like to Block the Agent??</h5>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-material">
                        <div class="right-icon-control">
                        
                          <form [formGroup]="formConfirm" class="editForm" novalidate>
                            <input type="hidden" formControlName="id">
                            <!-- <input type="text" formControlName="reason"> -->

                            <div class="col-md-12">
                                <div class="form-group row">
                                  <label for="name" class="col-sm-2 col-form-label">Reason<span
                                      class="text-danger">*</span></label>
                                  <div class="col-sm-10">
                                    <textarea class="form-control" placeholder="Enter Your Reason " formControlName="reason"></textarea>
                                    
                                  </div>
                                </div>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" (click)="changeStatus()" class="btn btn-primary" ngbAutofocus>Block</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                    (click)="modal.dismiss('Cross click')">Cancel</button>
                </div>
              </ng-template>
          <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
            (click)="ResetAttributes();OpenModal(content)">Add </button>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h5 class="ng-tns-c116-5"> {{ModalHeading}}</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-material">
                    <div class="right-icon-control">
                      <form [formGroup]="form" class="editForm" novalidate>
                        <div class="row">
                          <div class="col-md-12 text-center"><span class="heading_label">Personal Details</span></div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group row">
                              <label for="name" class="col-sm-4 col-form-label">Name<span
                                  class="text-danger">*</span></label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Enter Your Name" formControlName="name">
                                <span class="text-danger"
                                  *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                                  Agent Name is required! </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group row">
                              <label for="email" class="col-sm-4 col-form-label">Email<span
                                  class="text-danger">*</span></label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Login Email id" formControlName="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*">

                                <span class="text-danger row col-12" *ngIf="form.controls['email'].errors?.pattern">
                                  Email Id not valid.
                                 </span>
                                <span class="text-danger"
                                  *ngIf="form.controls['email'].touched && form.controls['email'].hasError('required')">
                                  Email is required! </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group row">
                              <label for="phone" class="col-sm-4 col-form-label">Phone<span
                                  class="text-danger">*</span></label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" oninput="this.value=this.value.replace(/[^\d]/,'')"  placeholder="Contact Phone Number" formControlName="phone" minlength="10" maxlength="10">
                                <span class="text-danger"
                                  *ngIf="form.controls['phone'].touched && form.controls['phone'].hasError('required')">
                                  Phone is required! </span>

                                <span class="text-danger"
                                *ngIf="form.controls['phone'].touched && form.controls['phone'].hasError('minlength')">
                                Minimum 10 Characters Required
                              </span>
                              <span class="text-danger"
                              *ngIf="form.controls['phone'].touched && form.controls['phone'].hasError('maxlength')">
                              Maximum 10 Characters Allowed
                            </span>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="password" class="col-sm-4 col-form-label">Password<span
                                    class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Password" formControlName="password" minlength="6">

                                  <span class="text-danger"
                                    *ngIf="form.controls['password'].touched && form.controls['password'].hasError('minlength')">
                                    Minimum 6 Characters Required
                                  </span>

                                  <span class="text-danger"
                                    *ngIf="form.controls['password'].touched && form.controls['password'].hasError('required')" >
                                    Password is required! </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="location" class="col-sm-4 col-form-label">Location<span
                                    class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Business Location" formControlName="location">
                                  <span class="text-danger"
                                    *ngIf="form.controls['location'].touched && form.controls['location'].hasError('required')">
                                    Location is required! </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="organization_name" class="col-sm-4 col-form-label">Organization<span
                                    class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Orgaization/Shop Name" formControlName="organization_name">
                                  <span class="text-danger"
                                    *ngIf="form.controls['organization_name'].touched && form.controls['organization_name'].hasError('required')">
                                    Organization is required! </span>
                                </div>
                              </div>
                            </div>
                            
  
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                  <label for="adhar_no" class="col-sm-4 col-form-label">Aadhaar<span
                                    class="text-danger">*</span></label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Aadhaar Number" formControlName="adhar_no" minlength="12" maxlength="12" oninput="this.value=this.value.replace(/[^\d]/,'')" >
                                    <span class="text-danger"
                                      *ngIf="form.controls['adhar_no'].touched && form.controls['adhar_no'].hasError('required')">
                                      Aadhaar is required! </span>
                                    <span class="text-danger"
                                      *ngIf="form.controls['adhar_no'].touched && form.controls['adhar_no'].hasError('minlength')">
                                      Aadhaar has Minimum 12 characters.
                                    </span>
                                    <span class="text-danger"
                                      *ngIf="form.controls['adhar_no'].touched && form.controls['adhar_no'].hasError('maxlength')">
                                      Aadhaar has Maximum 12 characters.
                                    </span>

                                    <!-- <span class="text-danger"
                                      *ngIf="form.controls['adhar_no'].touched && form.controls['adhar_no'].errors?.pattern">
                                      Enter a valid Aadhaar number! </span> -->
                                  </div>
                                </div>
                              </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="pancard_no" class="col-sm-4 col-form-label">Pan Card<span
                                    class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Valid Pan Number" formControlName="pancard_no" pattern="^[A-Za-z]{5}[0-9]{4}[A-Za-z]$">

                                  <span class="text-danger row col-12" *ngIf="form.controls['pancard_no'].errors?.pattern">
                                   Pan Card not valid.
                                  </span>

                                  <span class="text-danger"
                                    *ngIf="form.controls['pancard_no'].touched && form.controls['pancard_no'].hasError('required')">
                                    Pan Card is required! </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="pincode" class="col-sm-4 col-form-label">Pincode<span
                                    class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Zip Code / Pin Code" formControlName="pincode" minlength="6" maxlength="6" oninput="this.value=this.value.replace(/[^\d]/,'')">
                                  <span class="text-danger"
                                    *ngIf="form.controls['pincode'].touched && form.controls['pincode'].hasError('required')">
                                    Pincode is required! </span>
                             

                                  <span class="text-danger"
                                    *ngIf="form.controls['pincode'].touched && form.controls['pincode'].hasError('minlength')">
                                    Pincode is of 6 character required! </span>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="address" class="col-sm-3 col-form-label">Address<span
                                    class="text-danger">*</span></label>
                                <div class="col-sm-9 m-0 p-0">
                                  <input type="text" class="form-control" formControlName="address" placeholder="Address">
                                  <span class="text-danger"
                                    *ngIf="form.controls['address'].touched && form.controls['address'].hasError('required')">
                                    Address is required! </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="landmark" class="col-sm-3 col-form-label">Landmark<span
                                    class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" placeholder="Landmark" formControlName="landmark">
                                  <span class="text-danger"
                                    *ngIf="form.controls['landmark'].touched && form.controls['landmark'].hasError('required')">
                                    Landmark is required! </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="Name" class="col-sm-3 col-form-label">Agent Type<span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                  <select class="form-control" formControlName="agentType">
                                  
                                    <option value="1">Our Agent</option>
                                    <option value="2">Corporate</option>
                                  </select>
                                    <!-- <input type="text" class="form-control" formControlName="city" id="city"
                                        placeholder="Town/City" /> -->
                                    <span class="text-danger"
                                        *ngIf="form.controls['agentType'].touched && form.controls['agentType'].hasError('required')">
                                        Agent Type is required! </span>
                                </div>
                            </div>
                            </div>
  
                        </div>
                        <div class="row">
                          <div class="col-md-12 text-center"><span class="heading_label">Bank Details</span></div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group row">
                              <label for="bank_name" class="col-sm-4 col-form-label">Bank Name</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Bank Name" formControlName="bank_name">
                                <span class="text-danger"
                                  *ngIf="form.controls['bank_name'].touched && form.controls['bank_name'].hasError('required')">
                                  Bank name is required! </span>
                              </div>
                            </div>
                          </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                  <label for="name_on_bank_account" class="col-sm-4 col-form-label pr-0">Account Name</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Name On Bank Account" formControlName="name_on_bank_account">
                                    <span class="text-danger"
                                      *ngIf="form.controls['name_on_bank_account'].touched && form.controls['name_on_bank_account'].hasError('required')">
                                      name on bank account! </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group row">
                                  <label for="bank_account_no" class="col-sm-4 col-form-label">Account no</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Account Number" formControlName="bank_account_no">
                                    <span class="text-danger"
                                      *ngIf="form.controls['bank_account_no'].touched && form.controls['bank_account_no'].hasError('required')">
                                      Bank account no! </span>
                                  </div>
                                </div>
                              </div>
                              
                            <div class="col-md-4">
                              <div class="form-group row">
                                <label for="ifsc_code" class="col-sm-4 col-form-label">IFSC code</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="BANK IFSC Code" formControlName="ifsc_code" (change)="checkIfsc()" >
                                  <span class="text-danger"
                                    *ngIf="form.controls['ifsc_code'].touched && form.controls['ifsc_code'].hasError('required')">
                                    IFSC code is required! </span>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-8 ml-0 pl-0">
                              <label for="ifsc_code" class="col-sm-12 col-form-label">{{validIFSC}}</label>
                            </div>
                     
  
                        </div>
  
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" [disabled]="!form.valid" (click)='addAgent()' class="btn btn-primary"
                ngbAutofocus>{{ModalBtn}}</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
                (click)="modal.dismiss('Cross click')">Close</button>
            </div>
          </ng-template>
        </div>
      </app-card>
    </div>
  </div>