::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}
::ng-deep tr.odd
{
    display: none;
}
::ng-deep tr.even
{
    display: none;
}
::ng-deep .uppercase{
    text-transform: uppercase;
  }
  
::ng-deep .form-control
{
    border: 1px solid rgba(0, 0, 0, 0.15);
}