<div class='container'>
    <form #RowForm="ngForm" class="editForm">
        <input type="number" min="1" name="total_rows" placeholder="Enter Number of Rows" ngModel>
        <button type="submit" (click)="genrows(RowForm)">Add new</button>
    </form>
</div>
<div class='container'>
        <div class='container' dragula="PERSON" id="left" [(dragulaModel)]="leaftSeatTypes">
          <div *ngFor="let seatTypes of leaftSeatTypes"> <img src="assets/images/{{seatTypes.seatType}}.png"></div>
        </div>
        <form class="editForm" #myform="ngForm">
          <div class='container' *ngFor="let row of RowCounter; let j=index;" style="min-height:40px; width:100%; margin-top: 20px;  background-color: #FFF;" dragula="PERSON" id="right" [(dragulaModel)]="rightArray[j]" ngModelGroup="seatGroup">
            <div *ngFor="let dropElement of rightArray[j]; let k=index;" style="width: 80px; float: left;" ngModelGroup="items">
              <!-- {{dropElement|json}} -->
              <img src="assets/images/{{dropElement.seatType}}.png">
              <input type="text" name="seatText" #seatText="ngModel" ngModel style="width: 60px;">
            </div>
          </div>
        </form>
        
        
</div>
<div class="clearfix"></div>
<button type="button"  (click)="saveLayout(myform)" class="btn btn-primary" style="float: left; clear: both;" ngbAutofocus>Save</button>
