/* You can add global styles to this file, and also import other style files */
@import "scss/style";

.pointer{
    cursor: pointer;
}
img#main-logo {
    width: 100%;
}

@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  padding: 20px;
}
a.active.page-link {
  background: #2c3e50;
  color: #FFF;
}
@media print {
  .hide_print {
    display: none !important;
  }
}

